[2020-01-21 01:43] mcrumm opened #7 "Add support for distribution metric"
_**EDIT:** I never bothered to add a description here because I assumed I would handle the implementation. That was clearly a mistake so I am adding a description now._

My plan for the implementation had been to use a bar chart, like the [uPlot "latency histogram" demo](https://leeoniya.github.io/uPlot/demos/latency-heatmap.html):

![Screen Shot 2021-04-28 at 7 50 16 PM](https://user-images.githu

[2020-01-21 18:54] chrismccord opened #8 "Make chart assigns temporary"
The chart dataset assign(s) should be temporary assigns so we don't hold them in memory after we send them down

[2020-01-29 06:55] #8 closed, assigned to nobody

[2020-03-07 03:16] NeoArcanjo opened #14 "Session error"
at acess the route "/dashboard" I receive a error message by session nil

[2020-03-07 09:40] josevalim commented on #14
Please provide a sample app that reproduces the error, otherwise there isn't much we can do. Thanks!

[2020-03-09 13:40] NeoArcanjo commented on #14
![Captura de Tela 2020-03-09 às 09 51 23](https://user-images.githubusercontent.com/44139615/76218105-5c7e9180-61f2-11ea-9a40-30a67a4982f9.png)

[2020-03-09 13:45] josevalim commented on #14
You need to use Phoenix.LiveView latest master.

[2020-03-09 13:45] #14 closed

[2020-03-16 00:30] rupurt opened #17 "Link to online docs is broken"
I get a 404 when visiting the link https://hexdocs.pm/phoenix_live_dashboard from https://github.com/phoenixframework/phoenix_live_dashboard/blame/master/README.md#L3

[2020-03-16 00:33] rupurt opened #18 "Error getting started"
Using `phoenix 1.4.15` & `phoenix_live_view 0.9.0` I get the following error when visiting the live dashboard link:

[code]

[2020-03-16 02:02] mcrumm commented on #17
Hi @rupurt! We haven't officially launched the dashboard, yet. The links will work once we publish to Hex.  In the meantime, check the repo for updates.  Thanks!

[2020-03-16 02:02] #17 closed

[2020-03-16 02:58] #18 closed

[2020-03-16 04:49] rupurt commented on #18
Thanks for the fix. I'm getting a new error now 😄

[code]

[2020-03-16 04:54] rupurt commented on #18
No need to respond. I see you made some updates to `phoenix_live_view` on master. Pulling those in has got me up and running. 🍺

[2020-03-19 00:19] josevalim opened #21 "Style memory usage"
The memory usage pane is on master, only style pending. /cc @archdragon

[2020-03-19 00:19] josevalim opened #22 "Make each "metric group" a pill on the Metrics page"
/cc @archdragon

[2020-03-19 00:28] josevalim opened #23 "Bake in tooltip support"
I would like to add some tooltips that explains some of the terms in the dashboard. The idea is that we would have a question mark that, on mouse over, shows extra information.

For example, for "Run queues" we could explain what the "Run queues" are. Below is a screenshot of what I have in mind, with the tooltip locations drawn in red (although in practice they won't be red and they will be small

[2020-03-19 17:32] edisonywh commented on #23
FWIW, I found a crude version of this online that looks like this that I use in my own app with https://slickinbox.com:

![image](https://user-images.githubusercontent.com/20277437/77096384-8cf2d680-6a0f-11ea-97f8-97c94f29f6bb.png)

In case it's any helpful, the code is something like this:

[code]

### Usage
[code]

I'm sure you guys can come up with better implementation but thought I might shar

[2020-03-19 18:41] josevalim commented on #23
Really cool @edisonywh! I like that this one does not require JS.

[2020-03-20 14:37] josevalim opened #26 "Style tables"
I have added a process table, now we only need to style it before we add more tables. :)

<img width="1231" alt="Screenshot 2020-03-20 at 15 36 08" src="https://user-images.githubusercontent.com/9582/77173958-a30c9f80-6ac0-11ea-8ab6-af2bfbcb4f55.png">

/cc @archdragon

[2020-03-20 14:39] josevalim opened #27 "Style menu for small layouts"
Now that we have added a new element to the menu, things break down a bit:

<img width="322" alt="Screenshot 2020-03-20 at 15 37 56" src="https://user-images.githubusercontent.com/9582/77174141-e36c1d80-6ac0-11ea-871c-a6fc7fe04e54.png">

However, if this is too complicate to fix, we can leave it as is for now. /cc @archdragon

[2020-03-22 14:05] #27 closed

[2020-03-24 07:21] LostKobrakai opened #30 "Chart performance consideration"
I recently build a liveview dashboard for a nerves device (cpu/memory usage) and needed to switch out chart.js at some time after choosing smaller intervals / greater resolution. I settled on https://github.com/leeoniya/uPlot, but even just the chart in the readme might be interesting to look at https://github.com/leeoniya/uPlot#performance. I hope this is helpful. I'm not trying to suggest a swit

[2020-03-24 07:57] LostKobrakai commented on #30
I did some basic tests with just 1500 requests over 30s and the charts became unresponsive and lagging quite quickly. https://www.dropbox.com/s/gm89ng2pjoqpn08/LiveDashboard.mov?dl=0

If you'd like I can test the same with uPlot. I'm not sure though about what you're planing in terms of charts and if uPlot can handle all those.

[2020-03-24 09:55] josevalim commented on #30
Hi @LostKobrakai! We are not married to chart.js, so we would love to see something with uplot. The metrics we have to support are: counters, last_value, summary and distributions. So as long as uplot have a graph for each, we should be good. Would you please try an initial PR?

If we are keeping chart.js, then we should consider discarding points after a certain amount.

[2020-03-24 09:59] josevalim commented on #30
I guess one question is how to do counters but maybe line bars will be enough for that (we use donuts today).

[2020-03-24 10:03] LostKobrakai commented on #30
Yeah, uplot is not as rich in different chart types, but super fast for line graphs and especially timeseries data.

The next option in uplots performance ranking would be chart.js 3.0, which released it's alpha a few days ago (even mentioning the ranking): https://github.com/chartjs/Chart.js/releases

[2020-03-24 10:06] josevalim commented on #30
Yeah, but i think line chars may be fine for counters too, so please don't let that stop you. :)

[2020-03-24 10:08] LostKobrakai commented on #30
I'll see what I can do later today.

[2020-03-24 22:43] LostKobrakai commented on #30
I've not made it far enough for a PR, but at least I can show another recording of uPlot being totally unimpressed by the number of points added in a rapid manner: https://www.dropbox.com/s/hpamrbp207nc18t/LiveDashboard2.mov?dl=0

I'll still need to handle datasets properly before this is really ready for some testing.

[2020-03-24 23:56] josevalim commented on #30
Impressive! I also like how it dynamically handles the labels, that’s really neat.

[2020-03-26 08:35] #26 closed

[2020-03-26 10:42] optikfluffel opened #32 "key :menu not found in: %Phoenix.LiveView.Socket.AssignsNotInSocket{}"
When following the README to add the dashboard to an existing Phoenix app I get the following error:

[code]

Adding something like `Map.has_key?(socket.assigns, :menu) &&` to the `if` statements in lines [66](https://github.com/phoenixframework/phoenix_live_dashboard/blob/094b5ac0106fecab3e5fbddf704aed407054a57d/lib/phoenix/live_dashboard/live/menu_live.ex#L66) and [76](https://github.com/phoenix

[2020-03-26 11:04] josevalim commented on #32
Note you are running the dashboard against LiveView master. It should work  if you run it against a released version.

[2020-03-26 11:05] josevalim commented on #32
Oh, ignore me. We are running against github on master. I will investigate.

[2020-03-26 11:11] #32 closed

[2020-03-27 19:41] #21 closed

[2020-03-29 21:12] josevalim commented on #30
Hi @LostKobrakai! We are nearing our v0.1 release and We would love to use uplot instead. It is lighter and faster, so it suits Phoenix well. In case you can’t finish the work, would you be willing to send a PR with incomplete work? Then someone else can tidy it up. Thanks!

[2020-03-30 08:16] #22 closed

[2020-03-31 22:12] archdragon commented on #23
Thanks for the suggestion @edisonywh !

I've just submitted a PR with a pure-css solution inspired by your example. :)

[2020-03-31 22:19] #23 closed

[2020-04-03 16:04] josevalim opened #41 "Add Ports page"
Similar to processes, but does Port.info.

[2020-04-03 16:05] josevalim opened #42 "Add ETS tables page"
Similar to processes, but work with ETS tables.

[2020-04-03 16:05] josevalim opened #43 "Add sockets table"
Similar to processes, but works with sockets.

[2020-04-15 06:45] mcrumm opened #47 "Resize charts on window resize"
This may require a separate hook where we can register the event listener and fire the resize for all the charts at once.

See https://leeoniya.github.io/uPlot/demos/resize.html for an example event listener.

[2020-04-15 06:47] mcrumm opened #48 "Better styling for chart legend"
I added some simple styling just to keep the legend from "jumping around" too much on hover, but I'll leave the real styling to the professionals. :)

Check out the clip in the description for #40 to see what I mean.

[2020-04-15 07:02] #30 closed

[2020-04-15 15:56] archdragon commented on #48
Thanks @mcrumm - the charts look great!

I'll take a look at the legend :)

[2020-04-16 04:35] mcrumm opened #49 "Counter charts should not display a unit"
The unit label on the y-axis and in the legend is confusing for a counter, since the values are simply positive whole numbers.

[2020-04-16 04:50] leeoniya commented on #49
from https://github.com/phoenixframework/phoenix_live_dashboard/issues/30#issuecomment-603142645 it sounds like you guys ditched donut charts for x/y plots? that's quite the change, considering how differently they show data. unless you're needing to show the counter progression over time, you might want to just DIY the donut charts via a sprinkle of SVG:

https://akzhy.com/blog/create-animated-do

[2020-04-16 05:11] mcrumm commented on #49
Hi @leeoniya!

For more context, we're using uPlot to visualize data from [`Telemetry.Metrics`](https://hexdocs.pm/telemetry_metrics/Telemetry.Metrics.html). We're still in the very early stages of this implementation, so starting with a generic timeseries chart for all metrics types, given the performance improvements, seemed preferable for the time being.

That said, thank you very much for the

[2020-04-16 07:56] jethro-riosa opened #50 "Online documentation Page not found"

[2020-04-16 07:58] #50 closed

[2020-04-16 07:59] pau-riosa opened #51 "Online documentation: Page not found"

[2020-04-16 08:03] josevalim commented on #51
Yes, the project is still in development. It will be addressed once we do the initial release. Thank you.

[2020-04-16 08:03] #51 closed

[2020-04-16 17:19] josevalim opened #52 "Integrate with the os_mon application"
Note that some modules are disabled on some OSes: http://erlang.org/doc/man/os_mon_app.html

[2020-04-16 18:05] LostKobrakai opened #53 "Filtering processes doesn't cope with manually typed `:`"
Searching for `:tele` doesn't find `:telemetry_poller_default`, but searching for `tele` does.

[2020-04-16 18:10] josevalim commented on #53
Ah, it is because we are not searching over the inspected name. We may want to inspect it then before searching.

[2020-04-16 18:57] ybod commented on #52
I can look into this, but can't promise that it will be fast :)

[2020-04-16 19:01] #53 closed

[2020-04-16 20:16] thousandsofthem opened #57 "Add screenshots"
Readme in dire need for screenshots. You know, +200 popularity for peanuts

[2020-04-16 20:33] josevalim commented on #57
In master!

[2020-04-16 20:33] #57 closed

[2020-04-16 20:50] codeadict opened #58 "Feature: Add plugin system for custom pages"
It would be nice to define custom tabs with application-specific metrics defined by the User. The was a similar effort in the OTP observer here https://github.com/erlang/otp/pull/1954. Can something like this be considered?

[2020-04-16 21:07] #58 closed

[2020-04-16 22:15] Ch4s3 opened #60 "LiveDashboard compilation issue with SouctAPM eex templating"
The app blows up while compiling for prod, here is the error:

[code]

relevant scout config in `config.exs`

[code]

app deps

[code]

[2020-04-16 22:39] josevalim commented on #60
This is not a Phoenix.LiveDashboard issue. The issue here is that you are changing Phoenix to use the ScoutApp templates but by the time Phoenix.LiveDashboard compiles, the ScoutApp dep has not been compiled yet, which means its template engines have not become available.

Given there is nothing that says that Phoenix.LiveDashboard depends on ScoutApp, Mix is not making sure that ScoutApp makes it

[2020-04-16 22:39] #60 closed

[2020-04-17 15:32] numso opened #64 "Unable to mount the live socket at a nested path"
I've got an app that is only accessible on a specific path of my url (in my case, `/app`). I need to have the js client connect it's socket to `/app/live` instead of `/live`. It looks like that is hard-coded here:
https://github.com/phoenixframework/phoenix_live_dashboard/blob/master/lib/phoenix/live_dashboard/templates/layout/dash.html.eex#L2

I'd love to contribute if this is a desired feature b

[2020-04-17 15:58] nickjj opened #66 "Clicking between your app, Phoenix, VM and other tabs resets each tab's stats"
If you want to monitor the metrics of your application, chances are you would want to cycle between viewing your app's tab, Phoenix's tab and the VM's tab without having each tab get 100% wiped out in between switching tabs.

Could an option be introduced to persist the stats for the lifetime of the socket? This way we can jump between each metric, home and processes without losing the state on ea

[2020-04-17 16:01] josevalim commented on #64
Can you do me in a favor? In your application, what is the value of `IO.inspect conn.script_name`, if you do it in a controller? Does it include your prefix?

[2020-04-17 16:19] numso commented on #64
Inspecting `conn.script_name` just prints out `[]`.

Right now I've got my prefix configured to just `/`:
[code]

Previously I had my `/app` prefix in there and (after manually updating `templates/layout/dash.html.eex` with my socket path) I would get this error:
[code]

I figured live views needed to know about my entire url path so I took the prefix out and updated my routes to have the full pat

[2020-04-17 16:29] josevalim commented on #64
Yes, that's both a LiveView bug and a LiveDashboard bug. I will work on it. Thanks for the steps.

[2020-04-17 16:33] josevalim commented on #66
You can have all of the same tabs in a single page by doing something like this:

[code]

The reason why we split in tabs is because we are not sure of the performance implications for large scale apps. Given the concern is performance, storing it in memory would only make it worse. But you can unify them at your own choice.

[2020-04-17 16:33] #66 closed

[2020-04-17 16:37] gorghoa commented on #64
Trying out, live dashboard too, seems great !
I reckon this hard coded  path `/live` in template may be a start:

https://github.com/phoenixframework/phoenix_live_dashboard/blob/df63333ec0ff356d7b9dc86885e947ecbe8bb737/lib/phoenix/live_dashboard/templates/layout/dash.html.eex#L2

[2020-04-17 16:45] norbajunior opened #67 "Metric charts is not working on Safari"
**Safari version 13.0.5**

I recorded a gif using the dashboard in both Safari and Chrome side by side and on Safari we get errors.

![dashboard](https://user-images.githubusercontent.com/218034/79592692-b9eae580-80b0-11ea-918a-e63b3dade830.gif)

[2020-04-17 17:13] leeoniya commented on #67
hi, i'm the author of the plotting library used here (uPlot).

i don't have access to safari, but there are a few instances of `.toFixed` calls in the lib [1]. it would help to know which specific one it's hitting here. it would also be helpful to get a dump of the dataset that's being fed to the plot that causes the issue in safari.

is this issue consistently reproducible? or does it only happen

[2020-04-17 18:09] norbajunior commented on #67
Hi @leeoniya.

I'm not sure but it seems to be consistently, right now I ran the dashboard dev version as it is on README and I get the same problem.

Debugging here I've found the `.toFixed` error happens in this function https://github.com/phoenixframework/phoenix_live_dashboard/blob/master/assets/js/metrics_live/index.js#L9 that is passed as `series` option to `uPlot`. The `v` sometimes comes a

[2020-04-17 18:23] norbajunior commented on #67
Adding the check `typeof v === 'undefined'` fixes it but is it right?

[code]

And the other one `a.push` continues to happen and the charts don't render properly yet. I'll take a look later and come back here.

[2020-04-17 18:40] nickjj commented on #66
Could this strategy be used to see the app, phoenix, VM and the processes all in 1 group?

[2020-04-17 18:51] leeoniya commented on #67
ok, this is outside of uPlot.

`v === null` will not handle `undefined`, but can be loosened to `==`, which will.

it's a mystery why this would only fail in safari; it should fail everywhere. 🤷

[2020-04-17 18:53] josevalim commented on #67
Hi @leeoniya, I really appreciate you watching this repo. ❤️ I am debugging this and it seems a Date parsing bug outside of uPlot..

[2020-04-17 18:55] leeoniya commented on #67
@josevalim you guys are my unpaid bug & api testers. well, unpaid by me :D

[2020-04-17 19:12] josevalim commented on #67
Fixed on master.

Btw @leeoniya, I don't know if it matters, but pointing to a graph before it gets its first value shows NaN:NaN, as you can see here:

<img width="590" alt="Screenshot 2020-04-17 at 21 11 45" src="https://user-images.githubusercontent.com/9582/79605409-25a07300-80f0-11ea-8b3c-773db07baf93.png">

Maybe it should just print nothing?

[2020-04-17 19:13] #67 closed

[2020-04-17 19:22] josevalim commented on #66
Yes, exactly.Do the above and you get it all in one tab.

[2020-04-17 20:33] leeoniya commented on #67
NaN-NaN-NaN-BATMAN!!!

good catch.

i'll probably go with the same as the rest: `--`

[2020-04-17 20:56] mcrumm commented on #64
🤦 we talked about making this a config option and i forgot all about it

[2020-04-18 01:54] dfalling opened #69 "(ArgumentError) assign @menu not available in eex template"
I get the following error on application startup:

[code]

My app has been API-only prior to adding LiveDashboard, so maybe I'm missing some standard pieces for it?  Everything does seem to be working regardless of this error.

[2020-04-18 03:04] goofansu commented on #69
Having the same problem but dashboard seems work.

[2020-04-18 03:44] leeoniya commented on #67
NaN issue fixed in master: https://github.com/leeoniya/uPlot/commit/1ef39ef1899bacb5a3ae7209cfd0f2600d9590e3

[2020-04-18 05:28] goofansu commented on #69
FYI, if enable either "Metrics" or "Request Logger", the problem is gone.

[2020-04-18 08:29] josevalim commented on #69
I tried reproducing it locally and failed. Can someone push a small app to GitHub that reproduces the issue? Also, please provide your Phoenix+Elixir versions. Thanks!

[2020-04-18 09:45] goofansu commented on #69
Hi @josevalim , here is the minimal repo to reproduce: https://github.com/goofansu/live_dashboard_playground

Steps:
1. Start server with `mix phx.server`
2. Visit http://localhost:4000/dashboard
3. No error
4. Stop server but don't close the browser
5. Start server with `mix phx.server` again
6. The error `** (ArgumentError) assign @menu not available in eex template.` occurs

It seems the `menu`

[2020-04-18 11:28] #69 closed

[2020-04-18 11:29] josevalim commented on #69
Thank you so much @goofansu . Your steps helped me reproduce it and fix a LiveView bug!

[2020-04-18 12:13] goofansu commented on #69
@josevalim Cool, thanks! 🧡

[2020-04-18 13:13] #64 closed

[2020-04-18 13:14] josevalim commented on #64
This is fixed in the dashboard but it still requires a fix in LV, which will be coming soon.

[2020-04-18 20:14] aerosol commented on #42
@josevalim I started working on that one. Couple of questions wrt structuring the code:

1. Most CSS classes I'll need to reuse start with `process*`. I believe they are going to be useful for Ports page as well. Would it make sense to rename the prefix to something more general, like `tabular-*`, so that `process-page` becomes `tabular-page`? I couldn't think of anything better.
2. `SystemInfo` m

[2020-04-18 20:38] drozdzynski commented on #42
@aerosol @josevalim I already started working on it from yesterday, so if you would like @aerosol, I can push my code to the forked repository on my account and we can finish it together.

[2020-04-18 20:50] dkuku commented on #41
I would be happy to work on that

[2020-04-18 21:08] aerosol commented on #42
@drozdzynski sounds good

[2020-04-18 21:18] josevalim commented on #41
Please send a PR! You can use the Process tab as a starting point.

[2020-04-18 21:37] josevalim commented on #42
@aerosol yes for 1. For the second, let’s do show_process? and keep single module.

It is important to keep it single module because I plan to remotely load it in the future to inspect nodes that do not have Phoenix.

[2020-04-18 22:09] dkuku commented on #41
got it more or less working - just needs tests and some polishing
![image](https://user-images.githubusercontent.com/904179/79672424-a8493100-81c9-11ea-97a6-6d6528e9f76e.png)

[2020-04-18 22:27] josevalim commented on #41
@dkuku this looks great! There is a discussion on #42 about refactoring some of the code. So let's wait until that lands and makes the code more generic, then we can go ahead with this.

[2020-04-19 01:34] rupurt opened #72 "Responsive chart styles"
Howdy 👋

Great work so far gents! Have you put any thought into how or if you'll handle multiple screen sizes? Ideally I'd love the dashboard to be responsive to screen size so I can fully utilize my 27" screen. Something along these lines

- `iPad Pro & smaller:` Stack charts in a single column
- `<= 1900px:` Current 2 col layout
- `<= 2400px:` 3 col layout
- `> 2400px:` 4 col layout

[2020-04-19 08:20] josevalim commented on #72
Feel free to send pull requests for this. I think we would need to remove the max-width and make the chart columns fully flex. We use bootstrap and I know this is doable with bootstrap, but I don't know exactly how.

[2020-04-19 08:21] josevalim commented on #72
This also needs to be discussed with #47 in mind. So let's attach it there.

[2020-04-19 08:21] #72 closed

[2020-04-19 14:24] josevalim opened #73 "Prune charts data"
So someone reported that keeping the "Metrics" tab open after a long period of time ended-up consuming 5GB of memory. This makes sense, given that we keep pushing data to charts forever and ever. I am wondering if we should put an upper limit on the number of elements on the chart and start pruning old data once we go past N elements, for example, N = 10000.

Hi @leeoniya, if you don't mind, do yo

[2020-04-19 16:14] leeoniya commented on #73
add more ram :D

i mean, you can't expect a permanently-open live view to show you a boundless amount of data, regardless of the tech you use; the user's browser cannot serve as a replacement for a server-side time-series database, after all. and an overview of 1e9 datapoints would be unwise to feed to the client or to a js chart - especially one that has to be continuously re-rendered.

you could

[2020-04-19 16:33] leeoniya commented on #73
sorry, i think i stopped reading after the first sentence of this issue. ignore my re-explaining of the obvious things you already said.

time for coffee, obviously.

[2020-04-19 17:15] josevalim commented on #73
Thanks @leeoniya. I think the simplest for now is to keep only the last N points or so. We will figure out the best value for N as we move forward. I will take a look at your examples and see if I can come up with something.

[2020-04-19 17:46] mcrumm commented on #73
@josevalim We could consider a sliding time window, too. Rather than keep the last N points, we could drop points where `z < now() -  window_size_in_minutes`.

[2020-04-19 18:10] josevalim commented on #73
@mcrumm my concern with window size is that it won't be enough for apps doing many req/s. So having an absolute value works best. However if the sliding window is easier, then let's do that.

[2020-04-19 18:18] mcrumm commented on #73
Good point.  No, max values is likely simpler, so let's start there. :+1:

[2020-04-20 02:06] connorlay opened #74 "Dashboard does not respect Endpoint url path configuration when redirecting after initial page load"
Hello! I believe I have found a bug related to nested paths, similar to https://github.com/phoenixframework/phoenix_live_dashboard/issues/64

I have a Phoenix application that serves requests behind an edge router. The edge router strips path prefixes when routing to services. For example, requests made to `http://my-router.com/my-phoenix-app/foo/bar` are routed to the Phoenix path `/foo/bar`.

To

[2020-04-20 05:57] josevalim commented on #74
See #64. Once we include a fix for Phoenix LV it should work. There is a recently created issue there. :)

[2020-04-20 05:57] #74 closed

[2020-04-20 08:59] nickgnd commented on #43
Hi there and thanks a lot for the great work you are doing 💚

We are huge fans of Phoenix at @bitcrowd and it is time to contribute back. We would like to work on this feature if not taken yet by anyone else.
We are aware that it depends on #42 , so our idea is to start exploring the implementation and wait for progress in #42 before submitting any PR. Does it make sense?

Thanks again and have a

[2020-04-20 09:09] josevalim commented on #43
Hi @nickgnd, sounds great! For completeness, the implementation we are looking for here is similar to `:inet.i()` in IEx.

[2020-04-20 09:12] nickgnd commented on #43
Thanks, great :hugging_face:

[2020-04-20 15:55] connorlay commented on #74
Great! Thank you!

[2020-04-20 16:04] #42 closed

[2020-04-20 16:05] josevalim commented on #41
@dkuku this is great! Can you please rebase of master? I did a lot of refactoring to remove duplicate and to make sure we can link across pages. You can still use ProcessesLive and ProcessInfoComponent as reference, just make sure to use the currently refactored versions. :)

[2020-04-20 16:07] josevalim commented on #43
@nickgnd So #42 has been merged. Please make sure to rebase on master. I did a lot of refactoring to remove duplicate and to make sure we can link across pages. You can still use ProcessesLive and ProcessInfoComponent as reference, just make sure to use the currently refactored versions. :)

[2020-04-20 16:09] dkuku commented on #41
Sure-I refactored some stuff also to be reusable and this pr started to
grow big. I will update it and see how it goes.

On Mon, 20 Apr 2020, 17:05 José Valim, <notifications@github.com> wrote:

[2020-04-20 16:19] josevalim commented on #41
Yeah, the refactoring should no longer be necessary now. :)

[2020-04-20 20:43] wojtekmach opened #77 "Display ets memory usage in bytes"
Ref: https://github.com/phoenixframework/phoenix_live_dashboard/pull/75#discussion_r411646601

cc @josevalim

[2020-04-21 07:29] #77 closed

[2020-04-21 08:22] #41 closed

[2020-04-21 08:29] josevalim commented on #43
Hi @nickgnd! The port implementation is now in too, so you can use that as reference. What you will implemement is quite similar to the Port implementation, except that the current Port implementation already rejects any inet port, and you will want to keep them instead:

https://github.com/phoenixframework/phoenix_live_dashboard/blob/53d81c0ac1202c6f5da558bc4e29ebe1089425d9/lib/phoenix/live_dashb

[2020-04-21 10:44] nickgnd commented on #43
Hi @josevalim and thanks for the suggestions 💚
I have just rebased and updated our branch to use the new `@inet_ports` variable 💪
We are already referencing at the `:inet.i()` function for implementing the feature.
We should submit a work-in-progress PR by this evening to show you our current work and highlight some unclear points if any.
Have a great day 👋

[2020-04-21 19:02] supercodepoet opened #79 "Constant redirection between nodes"
Installed LiveDashboard on our staging app and when I go to the dashboard URL the browser just constantly redirects between the two nodes running the app. It will pull up the initial screen and the pointer will be set to spinning. It will then go through 20 or so redirects before refreshing the page and trying all over again. Anyone else seen this behavior?

Elixir 1.10.2
Phoenix 1.4.16
Dashboard

[2020-04-21 19:52] josevalim commented on #79
Hi @supercodepoet. Check your network tab and see if you are actually being able to establish websocket connections. Depending on how you are proxying in staging (say nginx), you will need special config for websockets.

[2020-04-21 20:52] jrissler commented on #60
In case anyone finds this for appsignal - same issue:

`# config/config.exs
config :phoenix, :template_engines,
  eex: Appsignal.Phoenix.Template.EExEngine,
  exs: Appsignal.Phoenix.Template.ExsEngine`

[2020-04-21 21:00] dkuku opened #80 "IEx tab ?"
I created a proof of concept of iex - I use Code.string_eval currently but probably can be hooked up to real iex session. What are you thinking about something like that - Its useful but may be a security risk
![image](https://user-images.githubusercontent.com/904179/79913081-ec7f4000-841a-11ea-8072-ba2c6b03848d.png)

[2020-04-21 21:10] josevalim commented on #80
Correct. Since the focus is production, we don’t plan to have any feature that evaluates code. Thanks for pinging though!

[2020-04-21 21:10] #80 closed

[2020-04-21 21:12] dkuku commented on #80
No problem.

On Tue, 21 Apr 2020, 22:10 José Valim, <notifications@github.com> wrote:

[2020-04-23 01:02] leeoniya commented on #73
@mcrumm

RE: https://twitter.com/mcrumm/status/1251191099512598528

i'll offer my $0.02. and please don't take this as me trying to keep uPlot in live_dashboard, but simply as my experience with benchmarking more libs that i ever thought i'd need to [1].

i have yet to encounter an SVG-based charting lib that comes anywhere close in performance to Canvas based libs for large datasets and interacti

[2020-04-23 12:53] archdragon commented on #47
Since I was touching the charts recently I've tried implementing this one when changing also.

I've followed the example provided, but I've run into an issue - it seems that even a simplest call to `.setSize` will result in an error.

For example, if I add setSize direcly after initilizing uPlot chart in `metrics_live/index.js`:
(but this happens no matter when I call `setSize` - same error occurs

[2020-04-23 13:06] #48 closed

[2020-04-23 14:49] archdragon commented on #47
Thanks @leeoniya !

This was exactly the problem - I was testing with unrealistically small browser window sizes and later, when choosing a random number for debugging I used a really small number again. I'll ensure that there is a reasonable minimum when resizing the charts.

[2020-04-23 15:27] leeoniya commented on #47
i just fixed a somewhat-related bug in https://github.com/leeoniya/uPlot/commit/390400cb67fa64e045953fa841425331ab25132c that caused y scales to reset (and y-axes & y-grid to disappear) when `.setSize()` was called with no chart data available.

i'm sure you guys would hit this at some point while waiting for the first event.

[2020-04-23 16:08] mcrumm commented on #73
Thanks @leeoniya! I just wanted to mention some of the alternatives we considered, while we still had some Twitter hype going :)

I'm _extremely_ happy with what we have so far, and once we set some limits in the dashboard to improve the experience for very large datasets, it will be even better.

Thanks for all your continued help!

[2020-04-23 20:19] wojtekmach opened #84 "Long port paths break the layout"
<img width="1195" alt="image" src="https://user-images.githubusercontent.com/76071/80145280-39484f80-85b0-11ea-8399-19aee03775de.png">

we should either wrap in the column which is probably going to be ugly, or trim the path (and display the full path on hover) like this:

<img width="1161" alt="image" src="https://user-images.githubusercontent.com/76071/80145389-6563d080-85b0-11ea-8a1b-a1e8c22f7f

[2020-04-23 20:30] josevalim commented on #84
I thought I set a max-width for it. Maybe that with some text overflow.

[2020-04-24 05:10] ckruse opened #85 "JS error when opening metrics"
Hi there,

I included Phoenix Live Dashboard in an existing application. It works fine, except the metrics, they throw JS errors:

[code]

Did I do something wrong?

[2020-04-24 09:57] josevalim commented on #85
This should be fixed on v0.2.0, so please make sure you are running on latest.

[2020-04-24 10:01] ckruse commented on #85
I think I do run 0.2.0: it looks different than 0.1 and hex.lock says:

[code]

[2020-04-24 10:02] ckruse commented on #85
Oh, just noticed: there is a version number in the dashboard itself. It says 0.2.0:

<img width="1502" alt="Bildschirmfoto 2020-04-24 um 12 02 14" src="https://user-images.githubusercontent.com/175095/80200805-7a2d7c00-8623-11ea-9706-32ed3e1cbe27.png">

<img width="183" alt="Bildschirmfoto 2020-04-24 um 12 01 32" src="https://user-images.githubusercontent.com/175095/80200811-7d286c80-8623-11ea-8bc

[2020-04-24 10:41] josevalim commented on #85
Perfect. Can you somehow try to isolate the error in a new app so we can take a look at it? Thanks!

[2020-04-24 10:52] ckruse commented on #85
Ok, while trying to reproduce it in a smaller applictation I noticed: there is another JS error with a fresh and new created application. Just run `mix phx.new --live ld_test`, `iex -S mix phx.server`, open the dashboard, click on metrics and move your mouse over the charts and you get this error:

[code]

[2020-04-24 10:58] josevalim commented on #85
What is the version in your new application and what browser are you using? All of those were supposed to be fixed on v0.2.0. :)

[2020-04-24 11:00] ckruse commented on #85
Version 0.2.0, Browser is the latest Chrome.

Sorry for causing such a headache…

[2020-04-24 11:09] ckruse commented on #85
Ok, I can now reproduce it with this very basic application:

<https://github.com/ckruse/ld_test>

All I had to do was to execute a query so that some metrics get collected.

[2020-04-24 11:58] josevalim commented on #85
I could not reproduce it on Chrome, Firefox, Safari or Brave. :/ In the past those issues were caused by screen width. Can you paste a screenshot of how your metrics page look like? Is it solved by making the page larger?

[2020-04-24 12:01] josevalim commented on #85
Alternatively, can you reproduce by cloning this repo and using the small app that ships as part of this project? See the steps here: https://github.com/phoenixframework/phoenix_live_dashboard/#contributing

You can click on the "VM" tab, if you want to have some functioning graphs, or just access `localhost:4000/` multiple times. Btw, thanks for all the follow up, it is appreciated!

[2020-04-24 12:06] ckruse commented on #85
Well, that's weird. Screen size seems not to change anything, I resized the window to fullscreen and still get the errors:

<img width="3292" alt="Bildschirmfoto 2020-04-24 um 14 05 20" src="https://user-images.githubusercontent.com/175095/80210842-c46b2900-8634-11ea-9146-2be3b47e86d2.png">

I will have a look at the contributing page and will try to reproduce it.

Thanks for your work!

[2020-04-24 12:14] ckruse commented on #85
Ok, I can reproduce it with the example application:

[code]

<img width="1697" alt="Bildschirmfoto 2020-04-24 um 14 12 59" src="https://user-images.githubusercontent.com/175095/80211297-c1246d00-8635-11ea-8aca-426be7ce3544.png">

I just opened the dashboard metrics page an reload the root page in a different tab several times.

[2020-04-24 12:15] ckruse commented on #85
Same with the `toFixed` error on empty graphs:

[code]

[2020-04-24 12:27] ckruse commented on #85
I don't know if this helps, but this is the output of  `console.log(JSON.stringify(this.datasets), JSON.stringify(dataForDatasets(this.datasets)))` in `assets/js/metrics_live/index.js` right before the error occurs:

[code]

Regarding to the `toFixed()` error: you can fix this by replacing `v.toFixed(3)` with `(v||0).toFixed(3)` in `assets/js/metrics_live/index.js` line 9. I know that this is figh

[2020-04-24 12:33] leeoniya commented on #85
related?: https://github.com/phoenixframework/phoenix_live_dashboard/issues/67#issuecomment-615407560

[2020-04-24 14:06] archdragon commented on #85
I've experienced both, when devloping the dashboard.

1. `toFixed of undefined`

This happens here
![image](https://user-images.githubusercontent.com/1810732/80220986-ed93b580-8644-11ea-9927-affbc896bf68.png)

so I can fix this easily just by checking for undefined there. I'll prepare a PR.

2. `Cannot read property '2' of undefined`

Definitely experienced this before, but can't reproduce at this

[2020-04-24 15:16] archdragon commented on #84
I can take a look at that.

I would start with styling other columns (input, output etc.) so they don't break and don't span multiple lines. I would also add some padding-right to the `name or path` column, so - when the path is long - there is a clear break between it and the `OS pid`.

When the table can't fit the given dimensions it becomes horizontally scrollable - so data behind the "fold" is

[2020-04-24 17:48] dkuku commented on #52
@ybod did you made any progress on that ?
I started playing with it and somehow got pretty far in one evening, I just did added it to the home page but a page with cpu and memory charts would be cool
![image](https://user-images.githubusercontent.com/904179/80241617-d01e1600-865b-11ea-8f6a-a6484415141c.png)

[2020-04-24 17:53] kgrvamsi opened #88 "Adding Telemetry to router.ex is not working"
### Environment

* Elixir version (elixir -v):
[code]
* Phoenix version (mix deps):
[code]
* Operating system:
[code]
* Browsers you attempted to reproduce this bug on (the more the merrier):
Brave Browser

### Actual behavior

When we add the following lines in router.ex we get a error

[code]
ERROR:

[code]
### Expected behavior

Expected behavior would be running the telemetry events

[2020-04-24 18:04] dkuku opened #89 "Suggestion - Allow to override/customize templates"
It would be useful to have a way to add own pages, I have some Ideas like calling `ps aux` and displaying the data on a page but its not something we want to have upstream probably.
also customizing the app.css name in the config - this way it can be branded like the rest of the app

[2020-04-24 18:24] josevalim commented on #89
We don't plan to support this because it would make all of our css classes public. For example, you just submitted a PR that renames memory to resource. If this was public, we would break all custom app.css files, since they were expecting memory to be in the class name.

We may consider this in the far away future, but it is very tricky when it is being actively developed. Thanks!

[2020-04-24 18:24] #89 closed

[2020-04-24 18:25] josevalim commented on #88
As the error says, it is a syntax error. So it should be:

    live_dashboard("/dashboard", metrics: JunctionApiWeb.Telemetry)

:)

[2020-04-24 18:25] #88 closed

[2020-04-24 18:26] josevalim commented on #52
This looks great! To facilitate the review process, let's submit each pane one by one, what do you think?

[2020-04-24 18:40] dkuku commented on #52
@josevalim Yes, I'm ok with that.
I may start with just the SystemInfo changes - I was thinking that when its a separate app it may need to be enabled separately and added to the supervision tree just like telemetry. I imagine that not everyone may want to use it.
Next thing I think we may want to merge some i existing data - atoms , ports and processes to one pane.
And the columns - left for elix

[2020-04-24 18:48] ybod commented on #52
unfortunately only basic stuff because of lack of time :( So nothing significant that can enhance Your implementation!

[2020-04-24 19:06] supercodepoet commented on #79
Looks like this might have been called because our nodes could nto find each other properly, we added libcluster and it stopped the redirection. We have a different issue now that I will put in a new ticket.

[2020-04-24 19:06] #79 closed

[2020-04-24 19:17] supercodepoet opened #90 "Getting 403 on websocket connections"
### Environment

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.5.0
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.0
* Operating system: Debian GNU/Linux 9.12
* Browsers you attempted to reproduce this bug on (the more the merrier): Firefox 75, Chrome 81

### Actual behavior

We have upgraded our app to use the latest Phoenix and set

[2020-04-24 19:22] kgrvamsi commented on #88
@josevalim  Thanks

[2020-04-24 20:13] josevalim commented on #90
Can you find anything on the logs? The Dashboard does not perform any special validation that a LiveView wouldn't. How is your `socket "/live"` declared in your endpoint?

[2020-04-24 20:13] josevalim commented on #52
@dkuku maybe it should be a separate tab, called "OS". This way showing 64 cores won't be such a big problem.

[2020-04-24 20:19] dkuku commented on #52
Ok - Ill create a tab - it can always be moved later when its usefull

[2020-04-24 20:25] supercodepoet commented on #90
in endpoint.ex

[code]

in router.ex

[code]

[code]

[code]

[code]

I will look to see what logs I can get.

It seems like it is failing at phoenix/lib/phoenix/transports/websocket.ex:

[code]

[2020-04-24 20:29] josevalim commented on #90
Also, just to be clear, It works fine in dev, right?

[2020-04-24 20:31] supercodepoet commented on #90
yeah, it is the strangest thing. It works in dev. We use mix release for production and staging. Would that possibly have anything to dig into?

[2020-04-24 22:02] josevalim commented on #90
Maybe it does! Try running the staging one locally or building a release for dev and see if it reproduces the issue!

[2020-04-24 23:43] supercodepoet commented on #90
Another point of interest:

In Chrome on local dev the LiveView WS connection shows in the Network tab and is assigned to window.liveSocket

In Chrome on staging with mix release the LiveView WS connection does not show in the Network tab (as if it is not even trying a connection) but window.liveSocket does have the JS object assigned.

Comparing the JS objects the only differences where the locat

[2020-04-25 03:54] gloopsoft commented on #90
did you set `check_origin` on your release endpoint ?
[code]

[2020-04-25 20:13] jarmo commented on #90
Not sure if I have same issue, but I also installed live dashboard and had to update Phoenix too from 1.4.0 to 1.5.1. When I navigate to dashboard in my production then I can see that websocket connection cannot be done and whole dashboard does not respond to anything. I just need to close the tab itself.

I have never used LiveView and dashboard works fine on my own machine in development environ

[2020-04-25 20:27] josevalim commented on #90
You definitely need to configure nginx for proxies and you also need to configure check_origin as mentioned above. This is a good starting point: https://dennisreimann.de/articles/phoenix-nginx-config.html

[2020-04-25 20:28] josevalim commented on #90
I will later update the docs to mention those notes. :)

[2020-04-25 21:02] mcrumm commented on #90
Hi @supercodepoet!  As @gloopsoft said, I would definitely check your Endpoint and its `:check_origin` option.

I have an instance of LiveDashboard running in a production release on Gigalixir, and it required the following addition to the Endpoint config for the release to resolve a similar connection issue:

[code]

[2020-04-25 21:38] jarmo commented on #90
Updated my nginx configuration and added check_origin configuration too. No difference.

In Phoenix log i see this:
[code]

In reality dashboard is not responding and I can see it getting error http response 400 for websocket. And then trying again while keeping dashboard UI unresponsive (can't click there anything). I tried Firefox and Edge.

[2020-04-26 07:35] josevalim commented on #90
@jarmo if you are seeing that log, then it means we are passing all sanity checks and we are indeed connecting. But maybe we are unable to publish messages after that? What does the network tab on firefox says for the websocket request? does it have any request/response payload?

[2020-04-26 11:04] #47 closed

[2020-04-26 11:05] #85 closed

[2020-04-26 15:30] ijunaid8989 opened #97 "** (EXIT) no process: the process is not alive or there's no process currently associated with the given name, possibly because its application isn't started"
### Environment

* Elixir version (elixir -v): Elixir 1.10.2
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps):  0.12.1
* Phoenix Dashboard version (mix deps): 0.2.0
* Operating system: Ubuntu
* Browsers you attempted to reproduce this bug on (the more the merrier):

I followed this full procedure to add metrics.

https://hexdocs.pm/phoenix_live_dashboard/metrics.html#insta

[2020-04-26 15:33] ijunaid8989 commented on #97
Also my Dashboard cell says none.

![image](https://user-images.githubusercontent.com/13561999/80312174-31c9b600-87fd-11ea-8137-92a6dea19561.png)

[2020-04-26 15:41] josevalim commented on #97
If you are not using `extra_applications` in your mix.exs, then you need to explicitly add the dashboard to your application list. As the error message says, make sure the application is started.

[2020-04-26 15:41] #97 closed

[2020-04-26 15:50] #43 closed

[2020-04-26 15:50] josevalim commented on #49
And for completeness, we should also ignore the value and keep a counter on the client.

[2020-04-26 16:25] jarmo commented on #90
@josevalim just these response headers and nothing else:
[code]

Pretty useless, I know.

However, I see that something triggers a full page reload and then everything starts from the beginning.

[2020-04-26 17:15] supercodepoet commented on #90
Another interesting side note: It appears as if the browser is not even attempting the connection at all and just failing with a 403. I put IO.inspects in phoenix code and phoenix_live_view code all around the socket stuff. If I use the browser none of that data is dumped to the logs. If you take the same supposed request from the browser and use curl, all the log messages render to the logs and t

[2020-04-26 17:36] gloopsoft commented on #90
@supercodepoet do you somehow change (or add) the signing salt / encryption salt for live view in your endpoint.ex file when declaring your sessions_options ?

[2020-04-26 18:54] mcrumm commented on #49
That's how it's done now - counter increments by one for each event and sum increments by the y value.

[2020-04-27 04:55] supersimple commented on #84
This seems to be fixed now, perhaps by another commit
![image](https://user-images.githubusercontent.com/773380/80335248-f933d780-8810-11ea-9b00-9de2fc9758e5.png)

[2020-04-27 09:25] angelikatyborska opened #98 "Broken links to hexdocs.pm/phoenix/telemetry.html in guides/metrics.md"
There are two broken links in the documentation. They both lead to `https://hexdocs.pm/phoenix/telemetry.html`.
1. https://github.com/phoenixframework/phoenix_live_dashboard/blame/ba7c9899742f43542166473df25a101fc86b754e/guides/metrics.md#L116
2. https://github.com/phoenixframework/phoenix_live_dashboard/blame/ba7c9899742f43542166473df25a101fc86b754e/guides/metrics.md#L119

I tried to figure out w

[2020-04-27 09:48] josevalim commented on #98
Thanks for the heads up. We are just a bite late. The guide is under review and it should be published soon.

[2020-04-27 10:56] josevalim commented on #84
I did add a max-width but there is perhaps a better way to handle this. :)

[2020-04-27 20:28] supercodepoet commented on #90
@gloopsoft in releases.exs we do:

[code]

In endpoint.ex we have the `@session_options` that is not changed and used in:

`socket "/live", Phoenix.LiveView.Socket, websocket: [connect_info: [session: @session_options]]`

`plug(Plug.Session, @session_options)`

[2020-04-27 20:52] supercodepoet commented on #90
For our staging env in release.exs on the endpoint I have set `check_origin: false` to see if I can get past the 403 error and I am still getting it.

[2020-04-27 21:54] gloopsoft commented on #90
try setting (in releases.exs) with the appropriate values,
[code]
do not set it to **false**

[2020-04-27 22:10] josevalim opened #102 "Setup CI on Windows"
Now that we are using OS Mon, we should probably setup the CI to run on Windows too.

[2020-04-27 22:47] supercodepoet commented on #90
@gloopsoft shoot, that didn't work either

[2020-04-28 17:56] supercodepoet commented on #90
ok, it appears we have solved the issue. We had a misconfiguration in Rancher for one issue and then StackPath by default disables Websockets when they front a site (which he did not know) and that is why we were getting 403 without having the Phoenix server log any issues. I thank you call for your help. I will close this issue.

[2020-04-28 17:56] #90 closed

[2020-04-29 04:59] mcrumm commented on #90
@supercodepoet I'm glad to hear you were able to get it working, thanks for reporting back!

[2020-04-29 05:03] mcrumm commented on #98
Hi @angelikatyborska! Just an update to say that the Telemetry guide has been merged (phoenixframework/phoenix#3768) and should be published soon.

[2020-04-29 07:16] josevalim commented on #98
Published!

[2020-04-29 07:16] #98 closed

[2020-04-29 13:36] #52 closed

[2020-04-29 13:45] josevalim opened #103 "Show active alarms"
Erlang ships with support for alarms in the SASL application. We could show any active alarm directly from the dashboard topbar and allow the user to dismiss it. Here is the Erlang API: http://erlang.org/doc/man/alarm_handler.html

We would need some UI for it first. :) Probably the a bell, like we see on github on the top right, which shows a counter of active alarms for us to interact with.

[2020-04-29 15:32] mcrumm opened #106 "Allow opt-in for showing env vars"
The idea is to allow users to opt-in to displaying some env vars on the dashboard homepage. For example, when running on Gigalixir, it might be helpful to see the `"SOURCE_VERSION"` in the dashboard. AppSignal uses the var `"APP_REVISION"` to similar effect.

Selected env vars could be configured for display on the live_dashboard route, like so:

[code]

Note: LiveDashboard would **not** define an

[2020-05-01 05:02] akoutmos opened #109 "Counter events not updating charts"
### Environment

* Elixir version (elixir -v): Elixir 1.10.2 (compiled with Erlang/OTP 21)
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps): 0.12.0
* Phoenix Dashboard version (mix deps): 0.2.1
* Operating system: OSX
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

### Actual behavior

When creating a counter like `counter("my_app.new_regi

[2020-05-01 10:18] josevalim commented on #109
This is an error in the documentation of Telemetry.Metrics. I will fix it accordingly. Thank you!

[2020-05-01 10:18] #109 closed

[2020-05-01 14:26] akoutmos commented on #109
Gotcha. Thanks for the quick fix!

[2020-05-02 10:25] ijunaid8989 opened #111 "summary "http.request.stop.duration" dont really work"
### Environment

* Elixir version (elixir -v): Elixir 1.10.2
* Phoenix version (mix deps):phoenix 1.5.1
* Phoenix LiveView version (mix deps):phoenix_live_view 0.12.1
* Phoenix Dashboard version (mix deps):phoenix_live_dashboard 0.2.1
* Operating system: Ubuntu
* Browsers you attempted to reproduce this bug on (the more the merrier):

![image](https://user-images.githubusercontent.com/13561999/808

[2020-05-02 11:07] josevalim commented on #111
Phoenix doesn’t emit the events that you listed, so if you are expecting them from a library, double check the library is emitting them and that you have the proper names.

[2020-05-02 11:07] #111 closed

[2020-05-02 13:06] ijunaid8989 commented on #111
the first one?
`summary("http.request.stop.duration", unit: {:native, :millisecond}),`

it's written in telemetry docs? https://hexdocs.pm/telemetry_metrics/Telemetry.Metrics.html#module-converting-units

[2020-05-02 13:59] josevalim commented on #111
Those are a fictional examples to showcase how they are supposed to work.

[2020-05-03 16:24] frankdugan3 opened #113 "Inaccurate Used Memory on Linux"
### Environment

* Elixir version (elixir -v): Erlang/OTP 22, Elixir 1.10.2 (compiled with Erlang/OTP 21)
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.1
* Operating system: Linux
* Browsers you attempted to reproduce this bug on (the more the merrier): N/A

### Actual behavior

Dashboard reports memory at ~97%, 14.8/1

[2020-05-03 16:50] josevalim commented on #113
Hi @frankdugan3. I would say the memory is still in use in those cases. Sure, it can be purged and used for other purposes, but it doesn't change the interpretation of it being in use. Maybe there is another word or additional clarification we could add though?

[2020-05-03 17:19] frankdugan3 commented on #113
I'm not sure. `top` and `free` report "used" as ~9GB, and the `memsup` docs say:

I've run into this before when rolling my own metrics, and from what I understand the standard interpretation of Linux "used" memory ignores buff/cache because it will immediately free them on demand. I'm not sure what the upper limit is, but I've seen desktops just running a browser with 64GB of ram showing ~97% bec

[2020-05-03 18:04] josevalim commented on #113
Perfect, very insightful. I have fixed it in master. :heart:

[2020-05-03 18:35] frankdugan3 commented on #113
I just tested master, looks great!

[2020-05-03 18:35] #113 closed

[2020-05-04 16:00] bglusman commented on #73
This seems like a potentially good place to discuss what I brought up last week [here](https://github.com/phoenixframework/phoenix_live_dashboard/pull/110) in an awkward way (probably should have just been an issue), as it's possible we can make the two solutions part of a coherent improvement in configurability of metrics history in general;  I started work over the weekend on trying to add hooks

[2020-05-04 16:08] josevalim commented on #73
To be clear: this is an issue about pruning data on the client. Whatever we do in the server is a separate issue from this one.

[2020-05-04 16:23] bglusman commented on #73
Of course, that makes total sense, but the configuration being passed to the client would still be part of live dashboard config I assume, and I was just imagining a possible opportunity to unify configuration of both retention and historical source in a single related pair of config options, but maybe that's not desirable, dunno...

[2020-05-04 17:48] bglusman commented on #73
I suppose you mentioning this is about pruning client side data it also raises the question whether the hook to load the data belongs before initial render server side or as a one time client side request on initial load for any historical data... I’d been focusing on the former but now I suspect the latter may be cleaner?  Not sure/defer to you all!

[2020-05-05 02:33] bglusman opened #116 "Allow hook for metrics to be populated with historical data before or after components first renders"
I started a discussion [here](https://github.com/phoenixframework/phoenix_live_dashboard/issues/73#issuecomment-623551980) but I think it deserves an issue of its own to discuss the appropriate API and desired requirements, and to gauge other users interest.

I’d like the ability when opening the dashboard in production to have some buffered data displayed there immediately.  In my use case I’d li

[2020-05-05 09:10] josevalim commented on #116
Hi @bglusman! As I mentioned previously, while we would be open to make this pluggable, it is not a priority for us and we would rather use our limited time to focus on other features. So unfortunately I am afraid you won't be hearing much from us on this topic.

If the goal is to gauge interest and discuss solutions, the ElixirForum is a better medium, because more people are active there, compar

[2020-05-05 09:10] #116 closed

[2020-05-05 13:32] bglusman commented on #116
Apologies @josevalim , I wanted to do the work (as much as possible) myself but wanted input from the maintainers on how it would be best received.  Is there a better way than an issue to do this?  In any case, thanks so much and sorry if I've botched my efforts to get involved! 🙃

[2020-05-05 15:57] bottlenecked opened #117 "OsMonLive FunctionClauseError on Windows"
### Environment

* Elixir version (elixir -v): Erlang/OTP 22 [erts-10.5] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1]
Elixir 1.9.4 (compiled with Erlang/OTP 20)
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.1
* Operating system: Windows 10 / powershell 5.1
* Browsers you attempted to reproduce this bug on (the more

[2020-05-05 17:21] josevalim commented on #117
New version pushed (it was already fixed on master). :) Thanks!

[2020-05-05 17:21] #117 closed

[2020-05-07 18:52] fidr opened #124 "Dynamically load extracting code into remote nodes without the Dashboard"
I would like to run phoenix_live_dashboard on a separate server and query remote servers (api only) for their data and display it.

This is already possible in the current setup, but it means I'd have to add live_view, phoenix_html and all frontend code and deps to my API only backend servers.

So maybe a good solution would be to extract the data fetching and collecting to a separate lib, so it c

[2020-05-07 19:01] josevalim commented on #124
The code was already written as such. All of the fetching logic is in the SystemInfo module. All we need to do is to load said module into the remote system, if one is not available yet, and we should be good to go. PRs that implement this would be welcome!

[2020-05-07 19:02] josevalim commented on #124
To be clear, it doesn’t need to be a separate lib, we can just load whatever we need I to the target nodes.

[2020-05-07 19:03] fidr commented on #124
Ah nice, I like that idea. I'll see if I can make it work

[2020-05-07 19:03] #106 closed

[2020-05-10 09:47] #124 closed

[2020-05-11 10:36] #84 closed

[2020-05-11 13:56] mustela opened #128 "Dashboard not working correctly behind K8s"
### Environment

* Elixir version (elixir -v): 1.9.4
* Phoenix version (mix deps): 1.5.1
* Phoenix Dashboard version (mix deps): 0.1
* Operating system: docker elixir:1.9
* Browsers you attempted to reproduce this bug on (the more the merrier): Any

### Actual behavior

I can access the app, but can't click anywhere, and the page refresh automatically every like 10 seconds, as you can see here:
![

[2020-05-11 14:14] josevalim commented on #128
This is most likely an issue with websockets. Make sure that whatever you are using as a proxy supports websockets. See #79 and #90 for further discussion. :)

[2020-05-11 14:14] #128 closed

[2020-05-12 11:25] Ljzn commented on #85
Got this error in the 0.2.2 version.

- open the metrics
- constantly drag and drop a metric (zoom in)

[code]

[2020-05-14 13:10] vorce opened #129 "Summary should create dataset per tag"
The first time I used phoenix_live_dashboard I was kind of expecting summary graphs to also include tags. So that I can for example easily see which method/request-path is the slowest in my application.

I started playing around with adding this today. I have a prototype working, and immediately noticed that adding 4 series (current, min, max, avg) per tag quickly gets a bit overwhelming.
Edit: Ok

[2020-05-15 16:47] mcrumm commented on #129
Hi @vorce! We would absolutely welcome a PR for a tagged summary chart.

I would say we create a dataset per tag (same as a tagged LastValue) and add additional datasets for overall min/max/average. So I think your screenshot above is correct, though we should drop the generic "Duration" dataset. What do you think?

[2020-05-15 17:06] vorce commented on #129
@mcrumm great! yes the overall dataset might not be so interesting anymore when you have tagged data, good point.

I'll submit a PR and we can discuss details in there. Cheers.

[2020-05-15 17:15] mcrumm commented on #129
Reopening to track progress

[2020-05-17 15:39] andrewcallahan opened #131 "Image Loading From Asset Folder"
### Environment

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.4.16
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.3
* Operating system: Mac OS X
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

### Actual behavior
I noticed that images in this project are base64 encoded and wanted to be able to add

[2020-05-17 15:57] josevalim commented on #131
If you want to handle images, then you need to add a Phoenix.Static plug (like in a regular app) or add a specific route to handle images and use Plug.Conn.send_file. Given the images are quite small, we preferred to keep it simple and base:encode64, but we would go the longer route if we plan to embed more stuff.

[2020-05-17 15:57] #131 closed

[2020-05-18 17:05] jherdman opened #132 "Duplicate Disk Error"
### Environment

* Elixir version (elixir -v): 1.10.3
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps): 0.2.3
* Phoenix Dashboard version (mix deps): 0.2.3
* Operating system: macOS 10.15.4
* Browsers you attempted to reproduce this bug on (the more the merrier): Irrelevant, but Firefox v77

### Actual behavior

Accessing the OS Metrics dashboard raises the following error

[2020-05-18 19:13] #132 closed

[2020-05-22 17:34] ericmj opened #134 "Is pubsub required?"
### Environment

* Elixir version (elixir -v): 1.10.3
* Phoenix version (mix deps): 1.5.1
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.2
* Operating system: macOS and Linux
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

I received 403 errors when trying to establish the websocket connection and warnings in my logs that

[2020-05-22 17:49] josevalim commented on #134
This is a bug in Phoenix that I am going to fix in master. :) Thanks!

[2020-05-22 17:49] #134 closed

[2020-05-24 16:33] markevich opened #137 "[1.5.3][phoenix-dashboard] Js error and LV disconnect on fresh 1.5.3 install."
### Environment

* Elixir version (elixir -v): 1.9.1
* Phoenix version (mix deps): 1.5.3
* NodeJS version (node -v): v11.11.0
* NPM version (npm -v): 6.9.0
* Operating system: MacOs

### Expected behavior
Dashboard works without disconnects and js errors

### Actual behavior

Everything works great except `Metrics` and `RequestLogger` tabs.

It looks like whenever you clicked on one of those tabs

[2020-05-24 16:35] chrismccord commented on #137
This was a LiveView bug and has been fixed on LV master. Thanks!

[2020-05-24 16:35] #137 closed

[2020-05-24 17:51] josevalim commented on #73
Closing in favor of PR.

[2020-05-24 17:51] #73 closed

[2020-05-24 17:56] josevalim opened #138 "Reorganize CSS classes"
We are slightly changing the structure of the code and I believe it may require rearranging how the CSS classes are organized. In particular, we have introduced components:

https://github.com/phoenixframework/phoenix_live_dashboard/tree/master/lib/phoenix/live_dashboard/components

However, those components only work if they parent tags are annotated properly with entries like progress-section or

[2020-05-24 17:58] josevalim commented on #138
Similarly, tabular-page should be renamed to tabular-component because the table itself will be a component. :)

[2020-05-24 18:09] josevalim opened #139 "Introduce custom pages"
A commonly requested feature has been to add custom pages to the dashboard. However, this has been defined because I don't believe it is possible to add custom pages without coupling it to our CSS classes, HTML structure, and so on.

However, I believe we can add support for custom pages if we provide high-level components. For example, if you look at applications/ports/processes/sockets/ets, they

[2020-05-24 18:11] josevalim commented on #58
See discussion in #139.

[2020-05-24 18:12] josevalim commented on #89
See proposal in #139 for a follow up on this.

[2020-05-24 18:22] archdragon commented on #138
👍 I'll take a look

Right now I'm thinking about naming files/classes after relevant components, but I need to experiment with this for a bit to see if it makes sense. :)

[2020-05-24 21:37] archdragon opened #140 "JS error on chart zoom"
I've described the issue in detail in the uplot repo: https://github.com/leeoniya/uPlot/issues/234.

---

### Actual behavior

Error appears when trying to zoom (by selecting an area with the mouse) and the selected area does not include any datapoints.

1. Click metrics -> VM
2. Wait for a datapoint (or two) to load
3. Try zooming in in a space between datapoints

JS error appears:

![image](http

[2020-05-24 23:00] josevalim commented on #140
The solution looks great but I do have a question: shouldn't uplot forbid this by default? Does everyone using uplot has to worry about this or this is rather a corner case based on how we use it? Or is there a scenario where the current behaviour (failing) is desired?

[2020-05-24 23:34] leeoniya commented on #140
i tend not to put error messages into uPlot because it would bloat the code since there are many combos of conditions that can cause different failures in the math. i would be open to a feature-gated "dev" build that provides those error messages and we'd need to see which ones come up most often and at which layers in the call stack. throwing something generic at the very bottom cause we found a

[2020-05-25 00:14] leeoniya commented on #140
actually, hold on. i think my diagnosis was incorrect. if it's crashing in stamps, it sounds more like https://github.com/leeoniya/uPlot/issues/200.

i'm gonna re-open https://github.com/leeoniya/uPlot/issues/234.

can you guys give me a jsfiddle with the opts and dataset that exhibits this behavior? i have no way of reproducing this otherwise since i don't have LiveDashboard set up anywhere.

[2020-05-25 03:19] mcrumm commented on #140
@archdragon are you still seeing this on the dashboard master branch? Switching to higher precision timestamps caused a drastic drop in the amount I saw this error occur (at the default zoom).

[2020-05-25 05:15] archdragon commented on #140
@mcrumm Just checked - and it does not happen that often now. On the latest master I have to zoom in at least 2 times to reproduce the error. I think a regular dashboard user will probably never encounter it now. :)

@leeoniya I've deployed the latest dashboard here (and disabled the asset minification to make debugging easier):

https://dashboard-theme.herokuapp.com/dashboard/nonode%40nohost/metr

[2020-05-25 05:41] leeoniya commented on #140
i tried my hardest, but could not get any errors to occur :(, so you may need to post a gif of your exact interaction.

i do see that the previously-hovered points dont go away if i zoom to a range with no data, so i'll fix that up: https://github.com/leeoniya/uPlot/issues/237

another drive-by comment is that you may want to customize `axis.incrs` to avoid fractional numbers on the y axis for thi

[2020-05-25 05:58] archdragon commented on #140
Awesome, thanks!

Here is a recording with me reproducing the issue:

https://monosnap.com/file/ODYYYdjf9kM1mmlwgUfLOrtKnZ08FJ

[2020-05-25 06:33] leeoniya commented on #140
ok, i see. what you're hitting is https://github.com/leeoniya/uPlot/issues/200#issuecomment-624454918

you guys don't provide a value formatter for ticks below 1s:

https://github.com/phoenixframework/phoenix_live_dashboard/blob/dc721732859c8e2aa8a362d0a3d78f8d0e9fb72a/assets/js/metrics_live/index.js#L30-L37

however, when extreme-zooming these ticks are generated anyways and uPlot cannot find any

[2020-05-25 07:03] leeoniya commented on #140
this is now fixed by https://github.com/leeoniya/uPlot/commit/4381a076e9fb0f14401c269772b74438d6a07eeb.

instead of an error, what will happen now is that you will probably have duplicate tick values at hgher zoom levels because uPlot will use the 1s formatter when formatting ticks <= 1s. if you want to avoid generating those ticks at all, you should still set a custom `axis.incrs` which bottoms o

[2020-05-25 07:59] #140 closed

[2020-05-26 11:08] drozdzynski commented on #139
Hello,

I think your proposal can solve problems with style classes, but the page can be modeled as something different than a table, that's why my proposal is to create a set of component that developer can use:

*   [ ] RowComponent
*   [ ] CellComponent
*   [ ] CardComponent (title, content)

Row, cell, and card components can be used with [Live component blocks](https://hexdocs.pm/phoenix_live

[2020-05-26 11:13] josevalim commented on #139
@drozdzynski our goal is to provide other components as we move forward. I proposed to start with the table because that's one that we would already use internally.

[2020-05-26 21:28] markevich opened #141 "Metrics widgets are broken after live_view 0.13.0 => 0.13.1 upgrade"
Hi!

### Environment
New phoenix app (mix phx.new dashboard --live)
* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.1
* Phoenix Dashboard version (mix deps): 0.2.4
* Operating system: MacOS/Linux ubuntu
* Browsers you attempted to reproduce this bug on (the more the merrier): all of the browsers
* Mix.exs deps
[code]

### Actual

[2020-05-26 22:11] josevalim commented on #141
When you upgrade LiveView, please make sure to `rm -rf assets/node_modules`, so you get the latest version of the client. Doing that should fix the error you see.

[2020-05-26 22:12] josevalim commented on #141
Actually, you are right. We need to ship a new version of the dashboard with the latest client bundled.

[2020-05-26 22:17] josevalim commented on #141
v0.2.5 is out!

[2020-05-26 22:17] #141 closed

[2020-05-27 15:19] lukaszsamson opened #142 "Metrics tab extremely unstable"
### Environment

* Elixir version (elixir -v): Erlang/OTP 23 [erts-11.0.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.10.3 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.1
* Phoenix Dashboard version (mix deps): master@53d95a1
* Operating system: macos 10.15.5
* Browsers you attempted to reproduce this bu

[2020-05-27 15:24] josevalim commented on #142
Can you please let us know what was the previous commit or version that you were running on?

[2020-05-27 16:32] lukaszsamson commented on #142
Sure, I’ll try to bisect it when I have some time.

[2020-05-28 12:17] lukaszsamson commented on #142
Unfortunately, I couldn't get older versions to run any more. Live view kept crashing unable to start Channel.

How can I run my app with live dashboard in dev mode? It would help tracking down the issue if I was able to see unminified JS.

[2020-05-28 12:31] josevalim commented on #142
You would need to use LV 0.13.0 with an older version. But I believe @mcrumm has already identifier the root cause. :)

[2020-05-28 15:15] mcrumm commented on #142
Hi @lukaszsamson! It appears that, when we switched to millisecond timestamps, a move that was intended to improve chart stability by reducing duplicate values, it caused a major hit to performance over time, as we're now drawing significantly more points/lines.

First, I'll note that static chart performance is not impacted, even with very large datasets. Our current problem is that we are redraw

[2020-05-28 16:24] leeoniya commented on #142
Some thoughts:

you guys may want 2 modes. one where it's limited by event count (configurable by user) rather than time. this mode retains all the data up to the defined limit and you can zoom in for full details. this would be good for debugging scenarios, and does not completely neuter the fire-hose scenario.

the other mode can be an accumulator with a predefined bucket size lets say default t

[2020-05-29 04:30] epinault opened #143 "Escape issue in links for the dashboard"
### Environment

* Elixir version (elixir -v):

Erlang/OTP 22 [erts-10.6.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.10.2 (compiled with Erlang/OTP 22)

* Phoenix version (mix deps):

* parse_trans 3.3.0 (Hex package) (rebar3)
  locked at 3.3.0 (parse_trans) 17ef63ab
  ok
* mimerl 1.2.0 (Hex package) (rebar3)
  locked at 1.2.0 (mimerl) f2785856
  ok
* file_system 0

[2020-05-29 08:09] josevalim commented on #143
I cannot reproduce this. Can you please provide a sample application that reproduces the error? I am thinking there is a configuration issue. Can you please post what is your `config` file for the environment this is failing in?

[2020-05-29 20:03] #142 closed

[2020-05-29 20:05] dkuku commented on #139
@josevalim I've been thinking about that today - we use datatables in js and its getting a list of maps as one argument and a list of configuration maps as the second - every map is a config for one column: it looks something like this:
[code]
only the data entry is required - the rest is optional.
I can look on this issue over the weekend, if no one else is picking it up. If we agree on the confi

[2020-05-30 06:06] varunrau opened #145 "[feature request] read state from process"
Sometimes it is necessary or useful to debug a process by inspecting it's state. Erlang provides great utilities for that like [get_state/1](https://erlang.org/doc/man/sys.html#get_state-1).

It'd be great to be able to read the state of a process via the phoenix live dashboard.

[2020-05-30 08:03] josevalim commented on #145
Hi @varunrau, at the moment we are avoiding to add features that can reveal a lot of information about the system. For example, accessing the state or the process dictionary can reveal secrets and passwords.

[2020-05-30 08:03] #145 closed

[2020-05-30 15:28] lukaszsamson commented on #142
@mcrumm  I checked the latest master with #144 merged in and the performance now looks much better but the JS errors are still there.

[2020-05-30 18:57] mcrumm commented on #142
@lukaszsamson Can you check against d028a86? The latest uPlot should resolve the remaining JS errors.

[2020-05-30 20:18] varunrau commented on #145
Sounds reasonable. Do you think it would make sense to allow developers to selectively mark processes for inspection at compile time? Perhaps as an optional flag to `GenServer` that live dashboard could observe?

[2020-05-31 18:54] archdragon opened #148 "Update the Color Bar component"
I would like to propose a few improvements for the color bar component.

Originally I prepared it for displaying memory usage. Now, when it's being used in different places across the app, I can see some room for improvement. :)

### **1. Bug - the separators are missing.**
Somewhere along the way we lost the white separators dividing different chart sections. In my opinion they are quite importan

[2020-05-31 19:52] josevalim commented on #148
agreed, those would all be very welcome :D I especially love #3.

[2020-06-02 10:49] lukaszsamson commented on #142
I just checked against bdb59182b211d6ce37eecb4cc8f812bd60010db5 and the JS errors are still there
e.g.
[code]

Can you provide source maps or not minified JS so I can debug it?

[2020-06-03 16:31] mcrumm opened #150 "Add JS sourcemaps"
Related to #142, but certainly helpful for any client-side debugging of the dashboard.

Someone knowledgeable about loading sourcemaps via webpack should feel free to contribute a PR, otherwise I will figure it out eventually :)

If the sourcemap is required to be a separate resource, it should be loaded as an `@external_resource` in the [`LayoutView`](https://github.com/phoenixframework/phoenix_l

[2020-06-04 07:03] vorce commented on #129
I just tried the new version (0.2.6). Great stuff @mcrumm - thanks!

[2020-06-04 07:07] #129 closed

[2020-06-04 07:08] josevalim commented on #143
Closing this. If you have more info, please let us know.

[2020-06-04 07:08] #143 closed

[2020-06-04 15:40] hkrutzer opened #152 "Cannot connect to remote notes without phoenix_live_dashboard installed"
I have an Erlang cluster with 2 different applications. Only one has Phoenix. If I try to open a node on the dashboard that does not have the Live Dashboard dependency, I get an error. The other nodes work fine.

### Environment

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.4.17
* Phoenix LiveView version (mix deps): 0.13.0
* Phoenix Dashboard version (mix deps): 0.2.4
* Op

[2020-06-04 15:49] josevalim commented on #152
I see. That node is running in embedded mode, which means we cannot load code into it. I am afraid there is no answer for this besides running the node in interactive mode, which you may not want to do. :/ The best we can do is to show a better error message, but that's it.

[2020-06-04 15:59] hkrutzer commented on #152
I'm not sure, from the docs it looks like I don't want to because it would not load all code immediately, and I could find errors at some point during runtime instead of at startup.

It does say "Code could be loaded later", I guess that doesn't apply here?

It would be fine to add this library to the other app as well, but I don't really want to also add dependencies like Phoenix when the app doe

[2020-06-04 16:55] josevalim commented on #152
Oh, good find. The behaviour we are seeing is specific to one function we are using (`ensure_loaded`) but we can use `is_loaded`. Please try master, it should be fixed there!

[2020-06-04 16:55] #152 closed

[2020-06-09 16:50] davydog187 commented on #7
@mcrumm I'm quite interested in distribution metrics. Is there anything that is holding up implementation other than just doing it?

[2020-06-09 16:57] mcrumm commented on #7
Hi @davydog187! Nope, I just haven't been able to get back to it, yet. A PR would be very welcome :)

I was initially evaluating the [multi-series bars demo](https://leeoniya.github.io/uPlot/demos/multi-bars.html) in uPlot as a starting point for a distribution chart. We may want to start with a single series and see how it looks, but we could potentially use multi-series for a distribution metric

[2020-06-09 17:03] leeoniya commented on #7
i hope to be reviewing a PR for a latency heatmap version of this, soon: https://github.com/liquidlabsio/fluidity/issues/65#issuecomment-640843004

also related (box/whisker plots): https://github.com/leeoniya/uPlot/issues/179#issuecomment-616755978

in general it would be good to add a few histogram/aggregate stats demos, maybe with dynamic rolling/moving periods.

[2020-06-09 20:48] QuinnWilton opened #155 "Configuring ReqestLogger with multiple endpoints"
### Environment

* Elixir version (elixir -v): 1.10.3
* Phoenix version (mix deps): 1.4.17
* Phoenix LiveView version (mix deps): 0.13.3
* Phoenix Dashboard version (mix deps): 0.2.6
* Operating system: MacOS
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

### Problem

I'm running PhoenixLiveDashboard in an Umbrella application that has two endpoints, with [Master

[2020-06-09 22:23] josevalim commented on #155
For it to work, they need to have the same secret_key_base and use the same pubsub server. Have you tried this approach? :)

[2020-06-10 07:51] cw789 commented on #155
I've a similar situation.
Same secret_key_base and PubSub Server works on my side.

[2020-06-11 03:30] nadsat opened #156 "Applications section error"
### Environment

* Elixir version (elixir -v): Erlang/OTP 22 [erts-10.6.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Elixir 1.10.1 (compiled with Erlang/OTP 22)
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.3
* Phoenix Dashboard version (mix deps): 0.2.6
* Operating system: Linux
* Browsers you attempted to reproduce this bug on (the more t

[2020-06-11 07:57] josevalim commented on #156
We will fix it but please note this is a bug in cloudex. The first process in your supervision tree must always be a supervisor, in their case it is a GenServer. Please consider doing a bug report there.

[2020-06-11 08:00] #156 closed

[2020-06-11 13:09] nadsat commented on #156
Thanks !!!!

[2020-06-11 14:04] ZombieHarvester commented on #60
AppSignal suggests "moving the AppSignal dependency above the phoenix_live_view"

https://github.com/appsignal/appsignal-elixir/issues/319#issuecomment-625673303

[2020-06-11 20:12] QuinnWilton commented on #155
Ah, that makes sense! I haven't tried that yet, but that sounds like it would fix the issue, based on what @cw789 is saying. A few other things have come up for me, and I haven't had an opportunity to make that change yet, but I'll update this issue when I do if I run into any problems..

[2020-06-13 15:32] leeoniya commented on #7
i have a new demo in the works ;)

https://github.com/leeoniya/uPlot/pull/259#issuecomment-643638674

![Screen Shot 2020-06-13 at 10 27 22](https://user-images.githubusercontent.com/43234/84572644-1d1b9000-ad61-11ea-92f2-9b99602296f7.png)

[2020-06-13 16:54] davydog187 commented on #7
Amazing!

[2020-06-16 15:12] #148 closed

[2020-06-16 16:18] leeoniya opened #161 "is LiveDashboard creating too much data?"
hey guys,

opening this so i don't have to remember to follow up after #160. and this may be orthogonal to that anyways.

while hunting down the uPlot auto-scaling bug in https://github.com/bglusman/phoenix_live_dashboard/pull/3#issuecomment-644317036 i noticed some weird-looking charts:

![](https://user-images.githubusercontent.com/43234/84694232-796fe280-af0e-11ea-9784-7bcb12560a91.png)

turns

[2020-06-16 16:43] josevalim commented on #161
Those are queries events. Every time there is a database query, they are emitted. From the look of it, there is about 4 or 5 queries in this request. So I would say this is expected for a regular page load?

[2020-06-16 16:55] leeoniya commented on #161
i see.

the presentation of this is not ideal then, IMO. you might consider clustering or bucketing the data client-side into something like 100ms windows and drawing bands for min/max/median. then on hover or click pull up the individual event log for more granularity.

![image](https://user-images.githubusercontent.com/43234/84803410-95838a80-afc7-11ea-8e35-04948ad3f5c9.png)

[2020-06-16 17:07] josevalim commented on #161
Right, if someone wants to tackle to that, it would probably be welcome. We are improving things as we go along. :) Maybe we should also push more people to use distributions, we will see. Thanks for sanity checking!

[2020-06-16 17:07] #161 closed

[2020-06-18 19:56] QuinnWilton commented on #155
Sorry that it took so long to get back to this! I re-architected my application a little bit to share a PubSub Server between apps, and also shared the `secret_key_base` between my Phoenix apps, and now everything is working as expected.

Thank you for the help!

[2020-06-18 19:56] #155 closed

[2020-06-19 16:08] superchris opened #162 "Applications and Processes tabs are unresponsive"
### Environment

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.4.16
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): ~> 0.1
* Operating system: Linux
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

### Actual behavior
Clicking on Applications and Processes causes a spinner to appear, but not response. Not

[2020-06-19 16:18] superchris commented on #162
Looks like there is an error in the javascript console: Uncaught TypeError: Failed to construct 'URL': Invalid URL. This is somewhere in fetchPage which I assume is in the LiveView code somewhere.

[2020-06-19 16:22] josevalim commented on #162
Assuming you are using the latest dashboard, update your LiveView to latest and you should be good. :)

[2020-06-19 16:51] superchris commented on #162
Yup. Dang, now that is how to support an open source project. I am impressed :)

[2020-06-19 16:51] #162 closed

[2020-06-20 03:57] mhanberg opened #163 "Pages are showing 'undefined' in a few spots"
### Environment

* Elixir version (elixir -v): 1.10.2 and 1.10.3
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.3
* Phoenix Dashboard version (mix deps): 0.2.4
* Operating system: macOS and Ubuntu 18.04
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome, Safari

### Note

I encountered this after creating a new app with `mix phx.new <m

[2020-06-20 07:50] josevalim commented on #163
Can you please make sure both LV and the Dashbooard are on latest? Thank you.

[2020-06-20 18:55] mhanberg commented on #163
Turns out the latest Dashboard was v0.2.6 (I was on v0.2.4).  I updated and now it seems fine.

Sorry for the noise 😅

[2020-06-20 18:55] #163 closed

[2020-06-26 10:08] lukaszsamson opened #164 "Unknown hook error message"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 10.3
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.3
* Phoenix Dashboard version (mix deps): master@21d61a464434606e19c39464ffcc71c690f5f358
* Operating system: macos 10.15
* Browsers you attempted to reproduce this bug on (the more

[2020-06-26 10:13] lukaszsamson opened #165 "Crash: Cannot read property form of undefined"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.10.3
* Phoenix version (mix deps): 1.5.3
* Phoenix LiveView version (mix deps): 0.13.3
* Phoenix Dashboard version (mix deps): master@21d61a464434606e19c39464ffcc71c690f5f358
* Operating system: macos 10.15
* Browsers you attempted to reproduce this bug on (the mo

[2020-06-26 10:31] lukaszsamson commented on #142
I'm no longer seeing those crashes on master@21d61a464434606e19c39464ffcc71c690f5f358

[2020-06-26 10:42] josevalim commented on #165
There are some fixes related to this on LV master. So let's wait until there is a new release and try to reproduce it. Thanks!

[2020-06-26 10:45] josevalim commented on #164
I cannot reproduce on Chrome nor Firefox. Can you provide more detailed information on how to reproduce it? Can you reproduce it within LV itself? In the source code, the hook is definitely there and it is registered. So maybe an out of date asset?

[2020-07-03 19:45] zorn opened #166 "README.md still recommends version 0.1. Should this be 0.2?"
The `README.md` with installation instructions still say to use version `"~> 0.1"`.

Should the be updated to version `"~> 0.2"`? Any other related updates need to be made on the `README.md`?

[2020-07-03 19:53] josevalim commented on #166
The ~> makes so it picks 0.1, 0.2, 0.3 and so on if available. :)

[2020-07-03 19:53] #166 closed

[2020-07-05 22:08] alexcastano commented on #139
Hi,

Since it seems that this issue has not advanced in the last month, I have taken the liberty of starting with the Phoenix.LiveDashboard.TableComponent. I hope to have a PR ready in the next few days.

[2020-07-10 11:35] lukaszsamson commented on #165
The bug is still there on latest master (db3e16138da945b2fc782b9e389db013e795ff04) and live_view 0.14.1.
Besides the repro steps from I can reproduce it by just leaving the tab open for a few minutes

[2020-07-10 11:37] lukaszsamson commented on #164
I can no longer reproduce it on latest master

[2020-07-10 11:37] #164 closed

[2020-07-22 09:44] seb3s opened #172 "v0.2.6 is wrongly marked as the latest release"
Should be corrected to display the correct info on the landing github page

[2020-07-22 09:46] josevalim commented on #172
I removed the section.I really dislike GH is forcing everyone to also publish the release via GitHub. :( Thanks.

[2020-07-22 09:46] #172 closed

[2020-07-22 09:48] seb3s commented on #172
That's perfect to me. Thanks

[2020-08-03 09:07] albertored opened #175 "Crash on processes tab when there are processes with `current_function: :undefined`"
### Environment

* Elixir version (elixir -v): 1.9.4
* Phoenix version (mix deps): 1.5.4
* Phoenix LiveView version (mix deps): 0.14.4
* Phoenix Dashboard version (mix deps): 0.2.7
* Operating system: ubuntu 16.04
* Browsers you attempted to reproduce this bug on (the more the merrier): chrome

### Actual behavior

When trying to access the processes tab the server crashes with this stacktrace

[c

[2020-08-03 09:10] albertored commented on #175
I tried to add the clause
[code]
and with that all works as expected

[2020-08-04 17:39] alexcastano commented on #139
Because #173 is close to be merged, I'm wondering what should be the next step. I was thinking about how we allow the users to add their own pages. The easiest solution I can think about is just passing a map to `live_dashboard`:

[code]

Maybe a better approach would be a simple DSL:
[code]

Or perhaps it is too soon and we still need to do a previous step. I am happy to continue collaborating on

[2020-08-04 18:37] josevalim commented on #139
@alexcastano my suggestion is option 1, indeed:

    additional_pages: [
      users: EctoPage
    ],

Or:

    additional_pages: [
      users: {EctoPage, some_option: foo}
    ],

Some notes:

1. We will have a callback for when the route is defined. The return of the callback will be stored in the session.

2. It has to be a keyword list, this way we can keep the order

And I think that's it. :

[2020-08-07 15:08] josevalim commented on #139
@alexcastano another change I believe we should do is to split PageLive in two:

1. PageBuilder will be the one we `use PageBuilder` and it has the struct and the callback definition plus all `Phoenix.LiveView.Helpers`. This way we can keep all page building functionality in one single place.

2. PageLive will be the LiveView implementation and it will be private.

WDYT?

[2020-08-07 15:16] josevalim commented on #139
We should also find a way to generalize the logic around os_mon/request_logger/metrics. They only run if the dashboard is available and if some options were given. Maybe we need a new callback, called `menu_link`, which returns either `:ok | {:disabled, more_info_link} | :skip`.

[2020-08-07 15:40] #175 closed

[2020-08-07 17:54] alexcastano commented on #139
Yes, but it also happens with custom pages, independently if the dashboard is running; ie: A node may run an `Ecto.Repo` but other nodes don't, so they won't be able to show a typical DB table page. So, I agree, we need a callback and it has to be executed in the "remote" node.

I didn't think a lot about the UX, but it can be confusing for a user if the page sometimes has enabled some links and o

[2020-08-26 14:51] lukaszsamson commented on #165
Still reproducible on phoenix_live_view 0.14.4 and phoenix_live_dashboard 0.2.7

[2020-08-29 05:31] hfjallemark opened #178 "Plug.Conn.InvalidQueryError: invalid urlencoded params"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.5.4
* Phoenix LiveView version (mix deps): 0.14.4
* Phoenix Dashboard version (mix deps): 0.2.7
* Operating system: Heroku
* Browsers you attempted to reproduce this bug on (the more the merrier):

Getting an error reported in

[2020-08-29 06:43] josevalim commented on #178
This is most likely a client sending invalid data. Like bots or attackers messing with URLs or something of sorts. There is also the chance your app is generating invalid URLs. You can check the full URL to see if that's the case. In any case, the root cause is elsewhere, not really live_dashboard (and it would happen anyway even if you were not using the dashboard).

[2020-08-29 06:43] #178 closed

[2020-08-29 09:28] hfjallemark commented on #178
I understand that but doesn't seem right that an error is thrown because of invalid input from the outside world, aren't errors supposed to be for exceptional cases -- not for common cases like an invalid url requested from the server?

[2020-08-29 09:55] josevalim commented on #178
I would consider bad input to be an exceptional case. I don’t want my app to handle it. I would rather just fail and have it become a 4xx to the client.

[2020-08-29 10:11] hfjallemark commented on #178
Not sure but I think we are saying the same thing -- I simply want the server/Phoenix ignore an invalid url and return a 404 without me having to handle it explicitly.

Now it throws an error and I have to handle it in my code, which is the opposite of what you are saying... so maybe I'm misunderstanding something here.

That said, I still think somebody typing in an invalid url is not an exceptio

[2020-08-29 10:18] hfjallemark commented on #178
I checked the source for `InvalidQueryError` and it has a field `plug_status: 400` so maybe it's doing what I want and it's Sentry that is capturing it.. maybe I need to ignore it there instead.

[2020-08-29 10:26] josevalim commented on #178
Exactly. Plug's built-in logger excludes anything that is not 500 status. You can either ignore it on Sentry's UI or implement a custom Sentry filter that uses `Plug.Exception.status` to figure out what to ignore.

[2020-08-29 10:28] hfjallemark commented on #178
That makes more sense, thanks!

[2020-09-07 09:53] josevalim commented on #139
This is almost done! We just need to add module docs to PageBuilder, probably with a complete example, and we can close this. :)

[2020-09-10 10:31] josevalim opened #183 "Support csp_nonce"
In the dashboard declaration, we should have a way to specify a csp_nonce that will be used by all inline images (dashbit and dockyard logos) and SVG (from the sup tree).

Proposal is to introduce a `:csp_nonce_assign_key` key config in the `live_dashboard`. If that is set, we will read the key from the assigns and pass it in the session. Then we store it in the %Page{} struct making it available

[2020-09-12 12:46] josevalim opened #184 "Add validation to table_component"

[2020-09-12 12:47] josevalim opened #185 "Handle scope params"
As described here: https://github.com/phoenixframework/phoenix_live_dashboard/pull/182#issuecomment-689726608

[2020-09-15 09:41] #183 closed

[2020-09-15 13:27] #184 closed

[2020-09-16 10:55] vasuadari opened #189 "[HexDocs] Link to configure nginx with Phoenix and WebSockets is broken"
https://hexdocs.pm/phoenix_live_dashboard/Phoenix.LiveDashboard.html#module-extra-add-dashboard-access-on-all-environments-including-production.

It would be better to avoid linking third party website article, as we could assume at some point in future the URL would never work.

[2020-09-16 11:35] josevalim commented on #189
If anybody knows a good alternative, a PR is welcome! :) You should still be able to access it via a cache.

[2020-09-23 13:25] svrcekmichal opened #190 "Phoenix.Ecto.CheckRepoStatus throws error in CLI if database "postgres" is not used"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.5
* Phoenix LiveView version (mix deps): 0.14.6
* Phoenix Dashboard version (mix deps): 0.2.8
* Operating system: macos catalina
* Browsers you attempted to reproduce this bug on (the more

[2020-09-23 13:32] svrcekmichal commented on #190
Sorry, put this into wrong repository

[2020-09-23 13:32] #190 closed

[2020-09-24 10:55] vasuadari commented on #189
Found the cached page [here](https://webcache.googleusercontent.com/search?q=cache:aIRHuF-FEUQJ:https://dennisreimann.de/articles/phoenix-nginx-config.html+&cd=1&hl=en&ct=clnk&gl=in). Different ways to go about it,

1. Inline the part of the config that is required in the docs
2. Add nginx config under Deployment section in the phoenix docs as this article covers that as well
3. Add a wiki section

[2020-09-28 09:30] josevalim commented on #185
We had a longer discussion about it here: #188.

[2020-09-28 09:32] #150 closed

[2020-09-28 10:31] spinettaro opened #194 "Incorrect drawing of OS Data bars"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.10.4
* Phoenix version (mix deps): 1.5.5
* Phoenix LiveView version (mix deps):
* Phoenix Dashboard version (mix deps): 0.2.8
* Operating system: Linux 64 bit
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome, Firefox, Edge

### Actu

[2020-09-28 11:13] #194 closed

[2020-09-28 11:45] cw789 commented on #194
Thanks for reporting & fixing.
Had the same on my TODOs to investigate.

[2020-10-01 09:40] noozo opened #195 "Multiple services behind Load Balancer generate too many redirects"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.10.4
* Phoenix version (mix deps): 1.5
* Phoenix LiveView version (mix deps): 0.13.0
* Phoenix Dashboard version (mix deps): 0.2.0
* Operating system: Linux
* Browsers you attempted to reproduce this bug on (the more the merrier): Opera, Firefox, Safari, Chrome

#

[2020-10-01 11:09] josevalim commented on #195
Please see issues #79, #90, and #128. The issue is most likely related to websockets connection.

[2020-10-01 11:09] #195 closed

[2020-10-05 09:44] zoidbergwill commented on #189
I think it's better for us to link to a wayback machine [snapshot](https://web.archive.org/web/20171104012240/https://dennisreimann.de/articles/phoenix-nginx-config.html) than Google's cache.

Though option 1 and 2 sound good too, imho.

[2020-10-05 13:25] vasuadari commented on #189
@zoidbergwill Thanks for the suggestion. For a immediate fix, I'll point the link to wayback.

Will try to create a gist soon with minimal nginx configuration required which works. Maybe with that we will able to decide how/where to add it.

[2020-10-11 02:39] dashingspidy opened #197 "dashboard keeps reloading nonstop"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): Elixir 1.11.0 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.5
* Phoenix LiveView version (mix deps): 0.12.1
* Phoenix Dashboard version (mix deps): 0.2.0
* Operating system: mac os 10.15.7
* Browsers you attempted to reproduce this bug on (the more

[2020-10-11 06:42] josevalim commented on #197
You are using an old version of Phoenix LiveView. Please run `mix archive.install hex phx_new` to make sure you have the latest version of the installer. You should be running on LV ~> 0.14.x or latest. Thanks!

[2020-10-11 08:24] dashingspidy commented on #197
I'm already using latest version of phoenix. But to make sure i re-run the command to update and i just checked mix.lock file and found this `{:phoenix_live_view, "~> 0.12.0", [hex: :phoenix_live_view, repo: "hexpm", optional: false]},`

so it using version 0.12.0 on latest version of phoenix.

[2020-10-11 08:33] josevalim commented on #197
As mentioned, 0.12.0 is not the latest. Run `mix archive.install hex phx_new` to update `phx_new` and generate a new project. In case there is a already code in the project and you don't want to start from scratch, run `phx_new` in a separate directory and copy the contents of `defp deps do` from the `mix.exs` in the new project to your current project.

[2020-10-11 08:36] josevalim commented on #197
Actually, ignore me. There seems to be something wrong with Hex resolution and it is picking up old versions. One second.

[2020-10-11 08:37] josevalim commented on #197
Please open up your `mix.exs` and change:

    {:phoenix_live_dashboard, "~> 0.2"},

to:

    {:phoenix_live_dashboard, "~> 0.3 or ~> 0.2.9"},

And it should be good!

[2020-10-11 08:37] #197 closed

[2020-10-11 08:39] dashingspidy commented on #197
Solved. Thank you!

[2020-10-11 08:40] josevalim commented on #197
I have updated the phoenix generator so users won't have this problem when generating new apps. :+1:

[2020-10-11 11:37] dashingspidy commented on #197
phoenix generator not pulling new version. issue is still there. Just to let you.

[2020-10-13 11:36] cblavier opened #198 "request_logger, cookie and multi domain umbrella apps"
Hi there,

phoenix_live_dashboard is working great under my umbrella + master_proxy app ☂️ 👍

I just had to setup a unique PubSub application for the whole umbrella and everything is working fine, but I can only log requests using the query parameter. It's not working with the cookie because the different webapps are served under different domains.

Would you consider an option to create cross-dom

[2020-10-13 11:46] josevalim commented on #198
We can't really create cross domain cookies. You could use CORS but even then it is not supported by all browsers and it may have security implications. So you can either change the cookie manually in your browser using a plugin or similar or continue with the params approach.

[2020-10-13 11:46] #198 closed

[2020-10-13 11:49] cblavier commented on #198
ok @josevalim, not happy with that, but thank you for the quick reply anyway ;-)

[2020-10-13 12:38] cblavier commented on #198
For anyone interested, I just wrote this plug that will rewrite the `request_logger` cookie to the parent domain (if like us your umbrella apps are different subdomains of a same domain)

https://gist.github.com/cblavier/27436c8600fe4bb9118d3fd1acb4c3e8

[2020-10-13 12:52] josevalim commented on #198
I am honestly surprised that it works... domain x.com should not receive cookies from domain y.com. Similarly, y.com cannot set cookies for x.com. Unless they are subdomains? If so that's important information you left out from your original description. :D

[2020-10-13 12:57] cblavier commented on #198
It is actually is an important information I forgot to mention 🙈  (because 2 hours ago I was not fully aware of the issue 😅 )

My dashboard is hosted on `dashboard.mycompany.com` and the plug is just rewriting the cookie to `.mycompany.com` so that all my `app*.mycompany.com` can read it.

The only caveat with this solution is that it needs an extra refresh: click on "Enable cookie" and then refre

[2020-10-13 15:40] josevalim commented on #198
I see!  A PR to make it customizable then would be welcome. The steps are roughly:

1. Add an option to the live_dashboard macro in the router and store it in the session
2. Read said option in the RequestLogger mount and store it as an assign
3. Write the assign in the template as a data attribute
4. Read the data attribute in the Live hook and use it to set the cookie

[2020-10-13 16:50] cblavier commented on #198
Sure, I'll make a PR available this week. Thank you for the guidance
Any test required?

[2020-10-13 16:55] #189 closed

[2020-10-13 17:05] josevalim commented on #103
Closing this as the default alarms are very low in information and may end-up causing confusion.

[2020-10-13 20:45] cblavier commented on #198
Here is the PR #200

[2020-10-16 21:29] matthewlehner opened #203 "New Phoenix application with --no-ecto --live flags doesn't compile"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.11.0
* Phoenix version (mix deps): 1.5.6
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.0
* Operating system: macOS Catalina
* Browsers you attempted to reproduce this bug on (the more the merrier):

### Actual behavior

[2020-10-16 22:14] josevalim commented on #203
Good catch! It has been fixed and v0.3.1 has been released!

[2020-10-16 22:14] #203 closed

[2020-10-16 22:22] #139 closed

[2020-10-16 23:24] matthewlehner commented on #203
OMG, thank you! That was so quick.

[2020-10-17 01:56] happysalada opened #204 "Sorting by size is sorting by string"
First of all, thank you for a great product!
The quality and pace of development of the Elixir ecosystem is truly amazing!

### Environment

* Elixir version (elixir -v): 1.10.4
* Phoenix version (mix deps): 1.5.6
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.0
* Operating system: MacOS
* Browsers you attempted to reproduce this bug on (the more the merr

[2020-10-17 05:34] mcrumm commented on #204
Hi @happysalada! Do you only experience this on the new Ecto Repo Stats pages? Those are the only pages I could reproduce the issue. On those pages, the sorting is a function of the metadata provided by the :ecto_psql_extras package:

[code]

Here's an example using :bloat, which is initially ordered by waste, a string column:

![Screenshot from 2020-10-16 22-25-31](https://user-images.githubuserc

[2020-10-17 08:32] happysalada commented on #204
@mcrumm Thanks for your quick response.
Those are the pages I spotted it, correct.
In essence, the type provided by ecto_psql_extra should be different then?
I quickly checked code and didn't find a specific type for sizes.
I guess the best solution would have too be for ecto_psql_extra to return integers and phoenix_live_dashboard would add additional formatting on top of it?

[2020-10-17 09:03] josevalim commented on #204
I have sent a PR here: https://github.com/pawurb/ecto_psql_extras/pull/7

Once that PR is merged, we need to do the following changes here:

1. [ ] Format :bytes as bytes
2. [ ] Format Postgrex.Interval accordingly
3. [ ] Provide `:default_sort` to tables

[2020-10-17 09:05] kw7oe opened #205 "Key not found when attempting to access Ecto Repo Stats of calls, table indexes size and etc"
### Environment
* Elixir version (elixir -v):

[code]
* Phoenix version (mix deps):
[code]
* Phoenix LiveView version (mix deps):
[code]
* Phoenix Dashboard version (mix deps):
[code]

* PostgreSQL version:
[code]
* Operating system:
[code]
* Browsers you attempted to reproduce this bug on (the more the merrier):
[code]

### Actual behavior

Just experimenting with the new LiveDashboard Ecto Stats

[2020-10-17 09:19] josevalim commented on #205
Fixed in https://github.com/pawurb/ecto_psql_extras/pull/7! Thanks!

[2020-10-17 09:19] #205 closed

[2020-10-17 13:27] frankdugan3 opened #206 "Ecto repo stats crashes on certain subsections"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): Elixir 1.11.0 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.6
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.1
* Operating system: Manjaro Linux x86_64, Ubuntu Server 20.04 LTS x86_64
* Browsers you attemp

[2020-10-17 14:24] ZombieHarvester commented on #206
I got the same result, seems the problem is in the formatter, it raises even if ecto_psql_extras is called directly from iEX. I've opened an issue [https://github.com/pawurb/ecto_psql_extras/issues/8](https://github.com/pawurb/ecto_psql_extras/issues/8)

[2020-10-17 14:37] josevalim commented on #206
It has already been fixed on psql_extras on v0.3.0.

[2020-10-17 14:37] #206 closed

[2020-10-17 14:53] ZombieHarvester commented on #206
I have upgraded to psql_extras v0.3.0

now i'm getting `protocol Phoenix.HTML.Safe not implemented for %Postgrex.Interval{}`

[code]

[2020-10-17 15:05] josevalim commented on #206
Right, I still need to fix it on the dashboard size. There is a recent issue tracking it. 👍

[2020-10-17 17:24] #204 closed

[2020-10-17 17:25] josevalim commented on #204
Some of the fixes require EctoPSQLExtras v0.3.1 but we should be ready to go!

[2020-10-17 18:30] frankdugan3 commented on #206
Awesome! Still getting the following on `Table indexes size` after updating dashboard to `0.3.2` and `ecto_psql_extras` to `0.3.0`.

[code]

[2020-10-17 18:32] josevalim commented on #206
There is a PR on ecto_psql_extras and once it is merged and released, it will be addressed too!

[2020-10-17 19:25] ZombieHarvester commented on #206
Thanks Jose!

[2020-10-18 10:56] ZombieHarvester commented on #206
@josevalim

I have updated my deps, now instead of `Phoenix.HTML.Safe not implemented` I'm getting `no case clause matching: nil`

phoenix_live_dashboard 0.3.2
postgrex 0.15.7
ecto_psql_extras 0.3.1

[code]

[code]

[2020-10-18 11:36] josevalim commented on #206
@ZombieHarvester fixed here: https://github.com/pawurb/ecto_psql_extras/pull/11

[2020-10-18 12:46] ZombieHarvester commented on #206
Thanks @josevalim! All tabs are working now. I don't know how you manage to respond so quickly, it's amazing

[2020-10-19 11:47] jaimeiniesta opened #207 "Crash on Repo stats / Lock section "key :procpid not found""
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.10.4
* Phoenix version (mix deps): 1.5.4
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.2
* Operating system: linux (heroku)
* Browsers you attempted to reproduce this bug on (the more the merrier):  chrome
* Postgres ver

[2020-10-19 11:59] josevalim commented on #207
Fixed here: https://github.com/pawurb/ecto_psql_extras/pull/12

[2020-10-19 11:59] #207 closed

[2020-10-20 08:29] albertored commented on #175
Still getting the same error with `phoenix_live_dashboard 0.3.2` and `phoenix_live_view 0.14.7`

[code]

I think the problem is that processes page uses the table component and the column for `:current_function` has `f&format_call/1` as format function thus bypassing the safe clause for `:undefinied` introduced by the linked commit (that clause is used only when showing the details of a single pro

[2020-10-20 08:35] josevalim commented on #175
@albertored good call. Can you please send a PR that removes the change in my commit and add the `:undefined` check straight to `format_call`? Thank you.

[2020-10-22 15:45] lukaszsamson opened #209 "Hook error on Request Logger tab"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.11.1
* Phoenix version (mix deps): 1.5.6
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.2
* Operating system: macOS
* Browsers you attempted to reproduce this bug on (the more the merrier): Chrome

### Actual behavior
Whe

[2020-10-22 15:49] lukaszsamson commented on #165
Still reproducible on phoenix_live_view 0.14.7 and phoenix_live_dashboard 0.3.2

[2020-10-22 15:50] #209 closed

[2020-10-22 15:52] lukaszsamson commented on #209
That was quick :)

[2020-10-22 16:06] lukaszsamson commented on #165
Looking at the stack trace, the crash happens somewhere in
pushFormRecovery https://github.com/phoenixframework/phoenix_live_view/blob/00562dd009a2dc0c95536cb612f350b6eddc0474/assets/js/phoenix_live_view.js#L2293
withOwners https://github.com/phoenixframework/phoenix_live_view/blob/00562dd009a2dc0c95536cb612f350b6eddc0474/assets/js/phoenix_live_view.js#L619
owner https://github.com/phoenixframewor

[2020-10-22 16:15] maennchen opened #210 "Do not display Ecto sections that require pg_stat_statements"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): `1.11.0`
* Phoenix version (mix deps): `1.5.6`
* Phoenix LiveView version (mix deps): `0.15-dev`
* Phoenix Dashboard version (mix deps): `0.3.2`
* Operating system: `Linux tardis 5.0.0-32-generic #34-Ubuntu SMP Wed Oct 2 02:06:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Li

[2020-10-22 16:30] josevalim commented on #210
That is our goal but I haven't found a good way to do this yet. If anyone has ideas, I will be all ears, especially because it is not only checking if the extension exists, it also need to be enabled for the current schema.

[2020-10-22 16:36] maennchen commented on #210
@josevalim Can't we just check if the table `pg_stat_statements` exists?

[2020-10-22 16:49] maennchen commented on #210
@josevalim Otherwise it can be looked up over various steps:

* Determine current active namespace or make schema name configurable with default `public`:

[code]

* Get namespace id

[code]

* Determine if extension is enabled

[code]

[2020-10-22 16:53] josevalim commented on #210
The issue is that I don't want to hardcode these queries into the dashboard - it is out of its scope. So we would need to first propose an extension to EctoPSQLExtras where we can add some metadata about how to check if a feature is enabled...

Another approach is to wrap it in a try/catch and show an error message saying the functionality is not available and just link users to the guide. Maybe w

[2020-10-22 16:54] josevalim commented on #165
If we open it up on the live_view repo, we would need to isolate it further. I don't want to tell Chris that he has to debug a whole chart library integration for us. :)

[2020-10-22 17:11] maennchen commented on #210
@josevalim If you prefer that approach, then I can open a PR for the try / catch solution.

[2020-10-22 17:34] josevalim commented on #210
@maennchen unfortunately it is also complicated because the page builder doesn't expose the socket for us to do anything meaningful with the try/catch. :D But please do play with it and let me know if you have any ideas!

[2020-10-22 17:46] josevalim commented on #165
Btw, can you reproduce it on firefox? I left my browser open with firefox for half an hour and nothing. :)

[2020-10-22 19:07] lukaszsamson commented on #165
I haven't seen it lately crashing on it's own but I didn't do much testing either. I reproduce it with app kill and restart 100% of times both in Chrome, Safari and in Firefox on Metrics and Request Logger tabs.
I did some more debugging and fortunately Safari 14 is able to unobfuscate some of the JS. It looks like there are race conditions in https://github.com/phoenixframework/phoenix_live_dashb

[2020-10-22 20:49] josevalim commented on #165
Ah, this is a LiveView big. It should consider that a form may have no elements.

[2020-10-22 23:24] #165 closed

[2020-10-24 07:50] josevalim commented on #210
Someone sent a PR to ecto_psql_extras that actually gave me an idea on how to address it. The PR is here: https://github.com/pawurb/ecto_psql_extras/pull/17

Once it is merged a new ecto_psql_extras is released, we can update the dashboard to pass a repo to queries and this should be fixed.

[2020-10-24 09:45] maennchen commented on #210
@josevalim Great, that sounds like a clean solution.

[2020-10-24 16:27] #210 closed

[2020-10-25 17:30] alexcastano opened #215 "About the long term objectives of the project"
Currently, the package is defined with the following sentences:

However, the long-term goal is not very clear to me. I see two directions:

1. Create a simple dashboard with the all common functionality that an Erlang deployment should require plus a couple of customizable pages by the user. I believe that we already have a product very close to this objective :)

2. A full platform to create an

[2020-10-25 18:02] alexcastano opened #216 "Migrate Home and OS Data pages to components"
Not all the pages are migrated to components. The Home and OS Data page are still using a regular LiveView function. Have you thought of a public API to generate this kind of page using components?

I consider the following example very complex but it would allow us to maintain the same look that the pages currently have.
[code]

But maybe it is better to keep an simpler API, probably without low-

[2020-10-25 19:13] josevalim commented on #215
This is definitely the goal. I am thinking we are close too, it is just a matter of providing a couple more components and we should hopefully be good to go. :)

[2020-10-25 19:13] #215 closed

[2020-10-25 19:25] josevalim commented on #216
Here are the components I can think of:

1. A columns component (for now, it supports only 2 columns), so we will move the disk component to under the memory component in the OS data

2. A shared usage component (which we use for memory in home and the CPU in the OS data) - it will have its own title, this mean the OS data will change a bit as we will have a title on top of the CPU Cores one

3.

[2020-10-26 18:11] noozo commented on #195
Damn, i completely missed your reply @josevalim. After taking a look at the other issues, it seems that the problem is usually pointed out as websockets not working. This is clearly not our case as the apps we deploy to AWS ECS (Fargate) all have websockets working (many live views in those apps, all working correctly). However, LiveDashboard in particular is the only one that keeps redirecting fr

[2020-10-26 18:15] josevalim commented on #195
Hrm, another idea then: please try bumping your LV and dashboard to the latest.

[2020-10-26 19:05] noozo commented on #195
Can confirm that with latest LV and LD versions still happens.

I access my load balancer with the service pretty name, say "my-service.mycompany.com" and i get too many redirects with the following url in the browser bar: "my-service.mycompany.com/dashboard/prod%40ip-10-0-0-149/home"

And when i refresh the page i get a new container/node name before /home, for instance: "my-service.mycompany.com

[2020-10-26 19:41] alexcastano commented on #216
I think it may work. I'll give it a try, let's see how it goes

[2020-10-26 21:24] josevalim commented on #195
Oh, distribution is disabled. I haven't considered this scenario I think, fix incoming.

[2020-10-26 21:25] josevalim commented on #195
Can you please try master and let me know how it goes?

[2020-10-27 09:30] noozo commented on #195
`foobaz` :) Will try today and let you know.

[2020-10-27 10:14] noozo commented on #195
It works with master, thanks @josevalim! :heart:

![image](https://user-images.githubusercontent.com/3353/97287933-150a4b80-183d-11eb-8656-37c7bbf5a29b.png)

[2020-10-27 18:17] josevalim commented on #195
New version published!

[2020-10-28 12:48] janpieper opened #218 "CaseClauseError when clicking on a socket"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): `1.10.4`
* Phoenix version (mix deps): `1.5.6`
* Phoenix LiveView version (mix deps): `0.14.7`
* Phoenix Dashboard version (mix deps): `0.3.5`
* Operating system: `Linux dfac698ccc90 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 GNU/Linux`
* Br

[2020-10-28 13:18] #218 closed

[2020-10-28 13:19] josevalim commented on #218
v0.3.6 is out.

[2020-10-28 13:19] josevalim commented on #218
Thanks for the report!

[2020-10-28 13:20] janpieper commented on #218
Installed the update and it works fine :+1: Thanks for the ultra fast fix!

:heart: :green_heart: :blue_heart: :orange_heart: :yellow_heart:

[2020-10-30 09:48] hfjallemark opened #221 "No function clause matching in Phoenix.LiveView.Channel.gather_keys/2"
### Environment

* Elixir version (elixir -v): 1.10.2
* Phoenix version (mix deps): 1.5.6
* Phoenix LiveView version (mix deps): 0.14.7
* Phoenix Dashboard version (mix deps): 0.3.6
* Operating system: Heroku

### Actual behavior

Sentry is reporting errors (about 10 every hour) after upgrading to 0.3.6:

[code]

### Expected behavior

No error should be thrown.

[2020-10-30 09:55] josevalim commented on #221
See https://github.com/elixir-plug/plug/issues/994. New release incoming. :)

[2020-10-30 09:55] #221 closed

[2020-10-30 18:32] chrismccord commented on #221
LiveView 0.14.8 is out which addresses this

[2020-11-02 13:01] maennchen commented on #183
@josevalim It is common practice to have different nonces for style & script.

Would you be up for a PR that would allow two config keys?

This would allow the Dashboard to be used together with `plug_content_security_policy`.

[2020-11-02 13:16] josevalim commented on #183
Sounds good to me. We can probably support a map:

    csp_nonce_assign_key: %{js: :foo, css: :bar}

And the default atom is equivalent to %{js: atom, css: atom}.

[2020-11-02 14:41] maennchen commented on #183
@josevalim Would this also be welcome as a PR for `Plug.Debugger` & `Phoenix.CodeReloader`?

[2020-11-02 14:42] maennchen commented on #183
(That would allow me to be more similar in dev to the prod env...)

[2020-11-02 14:43] josevalim commented on #183
I usually have my csp plug after those ones exactly to avoid issues. Any reason why you can't do the same? :)

[2020-11-02 14:45] maennchen commented on #183
@josevalim Hm, that would work for the Code Reloader. By the time the Debugger runs (in case of an error), my CSP had to happen already though to provide the nonces for the rendering.

[2020-11-02 14:49] josevalim commented on #183
Ah, true. I wonder if for those it is better to remove the csp header altogether... maybe that's what we should have done here too... 🤔

[2020-11-02 14:50] maennchen commented on #183
@josevalim For the debugger i think that is a viable option since it's never actually deployed.

For the dashboard not since I deploy it in production (with auth obviously).

[2020-11-02 14:52] josevalim commented on #183
@maennchen we have a deal then. A PR there will be welcome... I assume we can remove the header by default?

[2020-11-02 14:53] maennchen commented on #183
@josevalim I would just remove it in the `Plug.Debugger` and not even make it configurable. Instead I would write a note on it in the config explaining the behaviour.

[2020-11-02 14:55] maennchen commented on #183
@josevalim One additional problem with the progress bars: They emit inline styles. I'll have a look about that as well.

[2020-11-02 15:02] josevalim commented on #183
@maennchen maybe we can migrate to [topbar](https://buunguyen.github.io/topbar/)? It uses canvas. Here is my setup:

[code]

We just need to adjust the color.

[2020-11-02 15:04] maennchen commented on #183
@josevalim I'm quickly doing the PR for `plug` and then I'll try that :+1:

[2020-11-02 15:53] maennchen commented on #183
@josevalim The offending progress bars are `lib/phoenix/live_dashboard/components/color_bar_component.ex` and `lib/phoenix/live_dashboard/components/title_bar_component.ex`. `topbar` seems to replace the live view progress bar which is not the problem.

[2020-11-02 15:59] josevalim commented on #183
Oh, I got confused. Yeah, those require passing the csp assigns to the LiveView and keeping it around in the page template. It is definitely doable but definitely more work. Another option is to define classes for each potential style, which I believe are not many?

[2020-11-02 16:27] maennchen commented on #183
@josevalim Even if it is more work, I would pass the nonces. It makes sense that styles / images can be defined in pages i think.

[2020-11-02 16:29] josevalim commented on #183
SGTM!

[2020-11-21 18:12] josevalim opened #224 "Document Phoenix.LiveDashboard.Helpers or move them to PageBuilder"
Today we are automatically including the helpers into page builders, which expose a bunch of unplanned functionality to users. We either want to make this module public and document it, bring the relevant functions to PageBuilder, or hide it at all.

[2020-12-01 07:09] a8t commented on #138
How do you feel about TailwindCSS?

[2020-12-01 08:45] josevalim commented on #138
We don't plan to redesign at this moment, just move the current structures around.

[2020-12-02 00:28] a8t commented on #138
Forgive me if I'm asking the obvious (I have watched you talked many times but I'm not sure if you're familiar with CSS stuff). Was the original intention with these CSS classes to follow the [BEM style](http://getbem.com/naming/) naming conventions?

[2020-12-17 11:16] josevalim opened #230 "Fix CPU usage bars"
Today, the CPU usage bars show the CPU usage since the last measurement. Therefore, in order to show the proper information, we need keep the previous usage in memory and compute a new average. We should either fix this computation or remove the bars for now - especially as it might conflict with other libraries calling it.

[2021-01-25 21:08] eksperimental opened #232 "Add HTML meta tag "generator" to Include LiveDashboard and its version"
Real case situation is that I wanted to report an issue here, and I cannot easily see what is the LiveDashboard version that is running

[2021-01-25 21:14] josevalim commented on #232
You don’t have access to run “mix deps”?

[2021-01-25 21:17] eksperimental commented on #232
:thinking:

[2021-01-25 21:17] #232 closed

[2021-01-25 21:20] eksperimental opened #233 ""Update every" value should be remembered across pages"
### Environment

* Elixir version (elixir -v): 1.11.2
* Phoenix version (mix deps): 1.5.7
* Phoenix LiveView version (mix deps): 0.15.3
* Phoenix Dashboard version (mix deps): 0.4.0
* Operating system: Linux
* Browsers you attempted to reproduce this bug on (the more the merrier): Firefox

### Actual behavior

Let' s say I change the "update every" value in HOME, and then I switch to another tab.

[2021-01-25 21:25] eksperimental commented on #232
Actually, it is on the front page
:facepalm:

[2021-01-25 22:34] josevalim commented on #233
A pull request for this is welcome, probably a hook that stores the value somewhere.

[2021-01-26 14:17] #216 closed

[2021-01-26 14:20] #138 closed

[2021-01-26 14:21] #185 closed

[2021-02-04 20:16] #230 closed

[2021-02-05 01:10] happysalada opened #238 "Warning API deprecation ecto_psql_extras 0.6.2"
### Environment

Clicking on the Total table size tab of the Repo stats tab, I'm getting this warning

warning: This API is deprecated. Please pass format value as a keyword list: `format: :raw`
(ecto_psql_extras 0.6.2) deps/ecto_psql_extras/lib/ecto_psql_extras.ex:318: EctoPSQLExtras.prepare_opts/2"}

dependencies
[code]
* Browsers you attempted to reproduce this bug on (the more the merrier):
Fi

[2021-02-05 06:38] josevalim commented on #238
It is fixed in master, we will do a release later on. :)

[2021-02-05 06:38] #238 closed

[2021-02-21 07:23] uumo opened #240 "Possible to use without websockets?"
Hi! I'm new to elixir, setup this dashboard locally and it's awesome!

Unfortunately when run on an env without websockets: (https://stackoverflow.com/questions/51375790/load-balancing-websockets-on-digital-ocean)
- the loading bar at the top of the window makes slow progress then resets repeatedly
- links do nothing when clicked
- pages do actually show useful data, but have to be manually naviga

[2021-02-21 09:26] josevalim commented on #240
Hi @uumo , this project doesn't have long polling  I believe but you can try changing its javascript to add it. Here is how that would look like:

https://github.com/dashbitco/bytepack_archive/blob/main/apps/bytepack_web/assets/js/app.js#L57-L86

Give that a try in a fork and see if it works for you. In case it does, please submit a PR! Thanks!

[2021-02-21 20:19] uumo commented on #240
Thanks for the reference code link! I made a pull request

[2021-02-21 21:52] #240 closed

[2021-04-10 14:03] cheerfulstoic opened #245 "Time aggregation for metrics charts?"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.11.3
* Phoenix version (mix deps): ~> 1.5.8
* Phoenix LiveView version (mix deps): ~> 0.15.1
* Phoenix Dashboard version (mix deps): ~> 0.4
* Operating system: MacOS 11.1
* Browsers you attempted to reproduce this bug on (the more the merrier): Firefox

### Actual

[2021-04-10 14:09] josevalim commented on #245
Summary is supposed to show average and other metrics, so if that is not behaving as you expect, then a PR is definitely welcome!

[2021-04-27 11:09] LostKobrakai opened #247 "Reduction count per process does not match the values of the observer table"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.11.4
* Phoenix version (mix deps): 1.5.8
* Phoenix LiveView version (mix deps): 0.15.5
* Phoenix Dashboard version (mix deps): 0.4.0
* Operating system: Mac OS X
* Browsers you attempted to reproduce this bug on (the more the merrier): Firefox

### Actual behavior

[2021-04-27 11:28] josevalim commented on #247
A PR is welcome. It seems Observer is doing a diff.

[2021-05-04 20:22] egeersoz opened #254 "Better instructions for basic_auth in the readme file"
In the readme file, under the "Add dashboard access on all environments (including production)" section, there is this example for setting up basic authentication for a dashboard route:

[code]

But I think this is a bad example because you shouldn't hardcode passwords into the application code. The last thing we want as a community is to encourage practices that are not secure. :) You'll probably

[2021-05-06 18:54] #254 closed

[2021-05-08 04:54] kianmeng commented on #224
@josevalim What the next step for this issue?

[2021-05-08 06:10] josevalim commented on #224
Thanks for asking, we should!

1. Move encode_pid and other encode_* functions to PageBuilder and document them
2. Stop importing Helpers by default on all PageBuilder
3. Document that PageBuilder handles the show_info event by default and that the value must be an `encode_*`

PRs are welcome! :)

[2021-05-26 14:05] josevalim commented on #247
@LostKobrakai ping! Are you planning to send a PR or should we tackle it?

[2021-05-26 14:05] josevalim commented on #224
@kianmeng are you planning to send a PR or should I tackle it?

[2021-05-26 14:07] LostKobrakai commented on #247
I had a look into it a few weeks ago, but never really fully grasped how the diffing was done. So would be great if someone understanding the differences could handle it.

[2021-05-26 20:43] alexcastano commented on #247
In this case, I'll try to take a look ASAP :)

[2021-05-27 07:24] jaimeiniesta opened #282 "warning: passing the @socket to live_component is no longer necessary, please remove the socket argument"
### Environment

* Elixir version (elixir -v): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Phoenix version (mix deps): 1.5.8
* Phoenix LiveView version (mix deps): 0.15.7
* Phoenix Dashboard version (mix deps): 0.4.0
* Operating system: macOS 11.4
* Browsers you attempted to reproduce this bug on (the more the merrier): n/a

### Actual behavior

[code]

### Expected behavior

No compiler warning

[2021-05-27 13:20] kianmeng commented on #224
@josevalim Is this urgent? Probably in couple of days.

[2021-05-27 13:57] josevalim commented on #224
@kianmeng i would like to do a new minor release and I would like to push this change. If you can't do it, I can tackle it, no worries. :)

[2021-05-27 14:02] #282 closed

[2021-05-27 14:08] kianmeng commented on #224
@josevalim All right. Go ahead then. ;-)

[2021-05-31 14:48] #247 closed

[2021-06-02 09:06] #224 closed

[2021-06-06 08:12] alexcastano commented on #233
If you give me some guidance on this maybe I can give it a try :)

[2021-06-06 08:17] josevalim commented on #233
We did something similar in Livebook. The idea is that you will pass some parameters on connect:

https://github.com/elixir-nx/livebook/blob/main/assets/js/app.js#L47

And those parameters can be read from the cookie:

https://github.com/elixir-nx/livebook/blob/da64f51589eaf41f1c3bdd7ed018c196035ff2aa/assets/js/lib/user.js#L17

And the select dropdown will update the cookie whenever it changes usi

[2021-06-13 08:58] hauxir opened #296 "Etop support?"
Would be great to have access to the live updating table when you hit Etop.start() in this library:
https://github.com/infinityoneframework/etop

thoughts?

[2021-06-13 09:04] josevalim commented on #296
Can you please explain which part is missing? We already have a process table (and more) and it updates with a given frequency.

[2021-06-13 15:54] hauxir commented on #296
Now that I think of it, processes has mostly all of what Etop has, except for cpu percentages which is pretty nice to have when figuring out what's taking up resources, would that make sense to add into Processes?

[2021-06-13 16:40] josevalim commented on #296
It is really only the reductions count as a percentage, so i don't think it is strictly necessary. Thanks!

[2021-06-13 16:40] #296 closed

[2021-06-13 17:03] hauxir commented on #296
Fair enough, thanks for such a quick reply! Love the tool and am using it a lot in production.

[2021-06-20 08:50] lkananowicz opened #297 "Live dashboard router question"
Hi.

There is an option in application router to pass list of ecto_repos which then can be monitored in the dashboard:

[code]
Is there a way to update this list on application startup or at the time /dashboard route is requested in the browser? Some of the repos we use in our project are loaded on the runtime, ecto repository connection string is an environment variable and compilation is done on

[2021-06-20 10:09] josevalim commented on #297
We have added or are planning to add before the next release an auto discovery option that lists all available named repos, so this feature is coming soon!

[2021-06-20 10:09] #297 closed

[2021-06-20 13:53] lkananowicz commented on #297
Ok, great :+1:

[2021-06-20 21:19] #233 closed

[2021-07-02 19:47] josevalim opened #299 "Convert components to ~H sigil"
* [x] card_component.ex
* [x] chart_component.ex
* [x] columns_component.ex
* [x] fields_card_component.ex
* [x] layered_graph_component.ex
* [x] nav_bar_component.ex
* [x] row_component.ex
* [x] shared_usage_card_component.ex
* [x] table_component.ex
* [x] title_bar_component.ex
* [x] usage_card_component.ex

[2021-07-02 19:48] josevalim commented on #299
PRs to individual components are welcome!

[2021-07-07 11:18] maennchen commented on #299
Also TODO: `Phoenix.LiveDashboard.Helpers.hint/1`

[2021-07-07 11:39] josevalim commented on #299
@maennchen I think we can do one pass after converting every left over ~L. :)

[2021-07-07 15:56] josevalim commented on #299
:green_heart: :blue_heart: :purple_heart: :yellow_heart: :heart:

[2021-07-07 15:56] #299 closed

[2021-08-16 17:45] grahac commented on #238
Note: This still is happening for me in 0.65

[2021-08-29 22:02] yordis opened #319 "[UI Request] Use Multi-Column Layouts"
As of today,  the main menu is long enough where it sometimes it doesn't fit horizontally, and with custom pages I suspect it will become a bigger issues.

### Proposal

Move to Multi-Column Layouts, I took the name from Tailwind: https://tailwindui.com/components/application-ui/application-shells/multi-column. It looks something like the following:

![Screen Shot 2021-08-29 at 5 54 19 PM](https:/

[2021-08-29 22:12] josevalim commented on #319
Yes, this is something we want to do, but I think it requires a more throuogh redesign than moving the column around, unfortunately.

One open question for the future is if we are going to have a catalogue for LiveView components and if it should be part of the dashboard. And by this time we will probably redesign it, but no immediate plans for now.

[2021-08-30 00:32] yordis commented on #319
@josevalim got it, also, note on this implementation detail, are you open to use Tailwind? I cut myself replicating the same classes so I dont to repeat in the HTML, so I am generally curious about the topic moving forward

[2021-08-31 00:27] nickurban opened #321 "Does LiveDashboard security require on_mount authentication in production?"
The LiveView security model recommends checking permissions using `on_mount`[1], however the latest LiveDashboard README only shows checking at the `plug` level [2].

Should on_mount be passed through to the underlying live_session?

Is that supported?

Thank you.

[1] https://github.com/phoenixframework/phoenix_live_view/blob/master/guides/server/security-model.md
[2] https://github.com/phoenixfr

[2021-08-31 06:38] josevalim commented on #321
The way it works is that we use the plug authentication to generate a token and then we check if the token is valid inside the LiveDashboard. So we are validating the user is proper on both fronts. Without the initial http request, the user cannot join the dashboard, so the plug authentication is fine. But if someone has a fine grained need for on_mount, we will be glad to add it. Thanks!

[2021-08-31 06:38] #321 closed

[2021-09-08 10:30] fuelen opened #324 "View source button doesn't work"
`View source` button on hexdocs redirects to 404 page, because this repository doesn't have corresponding tag (v0.5.1)

[2021-09-08 11:05] josevalim commented on #324
done, tks!

[2021-09-08 11:05] #324 closed

[2021-09-08 13:33] rafalgolarz commented on #238
I confirm - it's still happening.

[2021-09-15 15:21] lleger opened #329 "CSP Nonce changes with page updates"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.
⚠️ I'm not using the latest because we have not yet upgraded to LiveView 0.16.

* Elixir version (elixir -v): 1.11.0
* Phoenix version (mix deps): 1.5.9
* Phoenix LiveView version (mix deps): 0.15.7
* Phoenix Dashboard version (mix deps): 0.4.0
* Operating system: macOS
* Browsers you attempted t

[2021-09-15 16:20] josevalim commented on #329
Hi @lleger, please let me know once you upgrade to LiveView, because it changes how redirects across pages work and I think it will have addressed this issue. We also have a `mix dev` task that runs `dev.exs`, which has some CSP config for you to try out!

[2021-09-15 16:30] lleger commented on #329
Got it, so CSP is broken in Dashboard 0.4.0 and you don't expect that'll be fixed? (I'm uncertain of our upgrade path to LiveView 0.16 since it seems like a lot of stuff changed.)

[2021-09-15 16:49] josevalim commented on #329
@lleger if you send a PR, i can gladly merge it and do a new release, but I wouldn't have time to focus on it.

About v0.16, a lot changed but the breaking changes are very minimal and only relates to changing `live_session` in your router. Everything else you can migrate at your own pace and take time.

[2021-09-15 16:55] lleger commented on #329
@josevalim Understood, thank you Jose. I'll look at getting us upgraded sooner rather than later and see if that fixes the issue.

[2021-10-28 16:56] marcandre opened #340 "Compiling fails the first time"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.12.x
* Phoenix version (mix deps): 1.6.0
* Phoenix LiveView version (mix deps): 0.16.4
* Phoenix Dashboard version (mix deps): 0.5.0

### Actual behavior

Sorry, I'm not sure where to file this, nor under what conditions exactly, but after updating `phoenix_live_d

[2021-10-29 02:53] #340 closed, assigned to nobody

[2021-11-06 02:32] extesy opened #341 ""bad argument in arithmetic expression" when opening OS metrics page"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.13.0-rc.0 (but it also reproduces in 1.12)
* Phoenix version (mix deps): 1.6.2
* Phoenix LiveView version (mix deps): 0.17.5
* Phoenix Dashboard version (mix deps): 0.6.1
* Operating system: Windows 11
* Browsers you attempted to reproduce this bug on (the more th

[2021-11-14 16:30] mcrumm opened #343 "Support custom Bootstrap theme"
I am sure to be simplifying a bit, but I would like to a explore adding a config option for `theme` that is a string and we load a CSS file that is so named.

[2021-11-14 16:33] mcrumm commented on #343
// @archdragon

[2021-11-14 16:34] josevalim commented on #343
I am not a big fan of this approach because we have a non-reasonable amount of custom CSS, so what happens? Is this custom CSS meant to work with all possible themes? And then even if someone were to reimplement all of the CSS in a custom theme, what happens when we do a new version, where we add/change/remove classes? So to me this is all a bit too coupled for us to allow any theme to be plugged

[2021-11-14 16:46] mcrumm commented on #343
I will be honest– I made a naive assumption that things were mostly built-in.

I agree on all points. If the theme is not easily swappable then there is little benefit, and backwards compatibility is a real concern.

I am happy to close this as-is, but I wonder if any amount of "customization" is possible. For instance, would we accept a PR to support a "dark mode"?

[2021-11-14 17:08] josevalim commented on #343
I would accept a PR for a dark mode, yeah. :)

[2021-11-18 02:15] FreedomBen commented on #195
If I may say, I've read through _a lot_ of Github issues (maybe thousands) in _a lot_ of projects (maybe hundreds), and this thread is such a good example of why I like this community.  Once understood, maintainer not only agrees to fix it but gets a test ready.  OP verifies the test works on master, maintainer actively gets it published!

So many times I see legitimate issues (that are affecting

[2021-11-25 13:14] florish opened #346 "mime 2.x support unintentionally dropped?"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): Elixir 1.12.3 (compiled with Erlang/OTP 24)
* Phoenix version (mix deps): 1.6.2
* Phoenix LiveView version (mix deps): 0.17.5
* Phoenix Dashboard version (mix deps): 0.6.1
* Operating system: macOS Big Sur 11.6
* Browsers you attempted to reproduce this bug on (the

[2021-11-25 13:18] #346 closed

[2021-12-02 01:53] jwilger commented on #341
I'm curious why this was closed without comment. I found this issue as I'm running into the same issue (running on Linux, not Windows).

[code]

If this is just some user error that was solved, it would be good to at least mention the solution here for those of us who land on this page after searching on the error.

[2022-01-09 05:27] lauriannala opened #347 "Possibility to configure custom on_mount"
As I understand, currently on phoenix live dashboard the user can be authenticated on the initial http-request and after successful authentication, the live socket connection is established. There are some considerations which could be solved by providing an option to wire up a custom on_mount-hook to phoenix live dashboard:

- Socket connection lifecycle: when the session has expired, the socket

[2022-01-09 06:58] josevalim commented on #347
Hi @lauriannala , there are two ways you can achieve this:

1. use a plug in your router that is invoked before the live dashboard route, as plugs always have to be executed before mount

2. use the new live_session router helper in LiveView to specify a mount callback for all Live routes: https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.Router.html#live_session/3

Note for disconnections you

[2022-01-09 08:31] lauriannala commented on #347
Thanks for the quick reply @josevalim. Broadcasting disconnects seems to be the option for max-level hardening. For example, on dashboard metrics page the socket connection receives data and sends heartbeats without calling the liveview on_mount-hook, this means the socket connection can live longer than the session since on_mount-hook is not called. Broadcasting disconnects can force the client t

[2022-01-09 08:35] josevalim commented on #347
Indeed! I am hoping we have all bases covered here. Is there anything missing?

[2022-01-09 08:50] lauriannala commented on #347
I think there might be, maybe we can figure out if it is feasible to cover. Let me elaborate on my scenario.

- We have established a connection for admin user, we have valid session, dashboard page and a liveview socket connected
- Plug or mount-callback is called whenever page is loaded -> session gets validated
- Monitor page is left open -> session is not validated anymore but socket connectio

[2022-01-09 09:17] josevalim commented on #347
The broadcast covers the needs for disconnecting any live session. I don't think adding the callback on data transmission is worth it. Plus it means we would need to add code to each individual LiveView callback.

[2022-01-09 09:23] lauriannala commented on #347
Agreed, broadcasting disconnects is a fair solution for this scenario.

[2022-01-09 09:23] #347 closed

[2022-01-12 08:27] jeduden commented on #341
I am running `0.6.2` and I think i still have the issue? I receive the stacktrace below on the OS metrics page.

* Elixir version (elixir -v): ```Erlang/OTP 24 [erts-12.2] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [jit] [dtrace] Elixir 1.13.1 (compiled with Erlang/OTP 24)````

* Phoenix version (mix deps): `locked at 1.6.6 (phoenix) 807bd646`
* Phoenix LiveView version (mix dep

[2022-01-12 15:20] philss commented on #341
@jeduden just curious: are you using a Mac with M1 processor? If so, can you tell us the model?

[2022-01-13 09:37] jeduden commented on #341
I retried this on a different project. There it worked. The deps were not exactly the same. I tried the failing project `{:telemetry_metrics, "~> 0.4"},`. That worked, when I reverted back to the original version `0.6`, it also worked.
So I am not clear yet, what potentially could cause such a behaviour.

[2022-01-28 11:27] timgent opened #349 "Phoenix.LiveDashboard.TelemetryListener Enum.EmptyError"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.13.1-otp-24
* Phoenix version (mix deps):
* Phoenix LiveView version (mix deps): 0.17.5
* Phoenix Dashboard version (mix deps): 0.6.2
* Operating system: Alpine
* Browsers you attempted to reproduce this bug on (the more the merrier): n/a

### Actual behavior

We'

[2022-01-28 11:59] #349 closed

[2022-01-29 20:14] gaslit commented on #341
I have the same problem. Accessing OS_metrics page generates the "bad arg in arithmetic expression".

Running it on Win 10 x64 with following phx deps:
[code]

I have attempted to downgrade telemetry_metrics version to 0.4 just what jeduden advised above but to no effect.

Thanks.

[2022-01-29 20:27] josevalim commented on #341
This has been fixed in the main/master branch. CN you please check?

[2022-01-30 04:41] gaslit commented on #341
Hi Jose, thanks for your kind reply.

I have modified my deps to include:
`      {:phoenix_live_dashboard, git: "https://github.com/phoenixframework/phoenix_live_dashboard.git",tag: "master"},`

I have re-run `mix deps.clean phoenix_live_dashboard` and `mix deps.get phoenix_live_dashboard  ` and verified that the os_mon_page.ex contains the commit 033199a which you made

And still gets a error whe

[2022-01-30 09:21] josevalim commented on #341
I think I fixed it now, can you please try again? :)

[2022-01-30 09:32] gaslit commented on #341
Works perfectly. Thank you very much Jose and I appreciate all what you have done for the elixir community.

Btw, some checks failed and your commit didn't make it into the master. I tweaked my local copy of the os_mon file with your changes. Just a headsup.

[2022-01-30 09:40] josevalim commented on #329
Closing this for now. If the issue persists, feel free to ping and report again. :)

[2022-01-30 09:40] #329 closed

[2022-01-30 09:43] josevalim commented on #319
FWIW, we have decided to keep the catalogue separate from the dashboard. There is also a request for night mode on #343. We should probably have a redesign but I would like to have a designer involved in the process :)

[2022-01-30 09:44] josevalim commented on #102
Closing in favor of the PR.

[2022-01-30 09:44] #102 closed

[2022-01-31 10:02] timgent commented on #349
Thanks for the insanely fast fix!

[2022-01-31 21:13] brianmay opened #350 "dialyzer errors after upgrading 0.6.2 to 0.6.3"
After upgrading from 0.6.2 to 0.6.3 (e.g. https://github.com/brianmay/phone_db/pull/654) I am getting a dialyzer error for every view.

For example:

[code]

The code in question is:

[code]

Where `PhoneDbWeb` is standard phoenix code.

I am somewhat puzzled what this has to do with `pheonix_live_dashboard`, but if I downgrade `pheonix_live_dashboard` it works again.

Example project (I have a nu

[2022-01-31 21:26] josevalim commented on #350
This is related to phoenix_view, you probably upgraded it at the same time. There is a recent issue where the spec has been removed. Please report it there and I can investigate.

[2022-01-31 21:26] #350 closed

[2022-01-31 21:30] brianmay commented on #350
Looks like somebody has already reported it: https://github.com/phoenixframework/phoenix_view/issues/8

[2022-02-19 22:43] dealloc opened #361 "Phoenix LiveDashboard Javascript error"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): `Elixir 1.13.0 (compiled with Erlang/OTP 24)`
* Phoenix version (mix deps): `phoenix 1.6.6 (Hex package) (mix)`
* Phoenix LiveView version (mix deps): `phoenix_live_view 0.17.7 (Hex package) (mix)`
* Phoenix Dashboard version (mix deps): `phoenix_live_dashboard 0.6.

[2022-02-19 23:26] josevalim commented on #361
v0.6.5 released with a fix!

[2022-02-19 23:26] #361 closed

[2022-02-20 09:33] dealloc commented on #361
You guys always amaze me with how fast things are handled!

[2022-03-14 10:17] petrus-jvrensburg opened #362 "Uncaught TypeError: Cannot read properties of undefined"
### Environment
- phoenix_live_view 0.17.7
- phoenix_live_dashboard 0.6.4
- Elixir 1.13.3
- Mac OS & Ubuntu 20.04
- Safari & Chrome

### Actual behavior

When opening LiveDashboard, the page renders fine initially, but then a Javascript error occurs before the websocket connection to the server is established. This happens on 'Home' and 'OS Data', but not on the other tabs.

<img width="1178" alt=

[2022-03-14 10:19] petrus-jvrensburg commented on #362
P.S. I'm using _esbuild_ rather than _webpack_... not sure if that's a contributing factor.

[2022-03-14 10:25] josevalim commented on #362
Please bump the dashboard to 0.6.5. :)

[2022-03-14 10:25] #362 closed

[2022-03-14 12:41] petrus-jvrensburg commented on #362
🙏 That did the trick!

[2022-04-13 00:48] fmterrorf opened #366 "Add an option to view the App info modal fullscree"
It'd be nice to have a button to make the app info full screen. There are times i find myself trying to find a process in the tree and I have to do some scrolling to do so.

![Screenshot from 2022-04-12 18-46-09](https://user-images.githubusercontent.com/77761194/163077336-8f376fb3-b626-4fa5-8fae-566dc7b118b7.png)

[2022-04-15 07:22] #366 closed

[2022-05-06 05:51] josevalim commented on #340
Thanks for sharing but unfortunately I still cannot reproduce the issue. :( After you ran the script above, which version of `phoenix_live_dashboard` you got?

[2022-05-06 17:41] marcandre commented on #340
I couldn't reproduce either, and I have not noticed that bug again, despite some full recompilation of our project.

[2022-05-07 20:12] cescobaz commented on #340
Ok, I fix it.

I created a Dockerfile to reproduce the issue in isolation, I'm using a macos but I'm not sure about what I have installed.
While testing the Dockerfile i notice that an error appear about `rebar` so, in the Dockerfile, I added `mix local.rebar` and everything works!

So I run `mix local.rebar` on my machine also and now I can't reproduce the issue.
The `mix local.rebar` solves the

[2022-08-24 07:12] kw7oe opened #376 "Incorrect documentation for title options of PageBuilder.table/1 functions"
Hi, I was trying out the `table/1` function and notice that the documentation did not mentioned that the `title` is required:

Without specifying a title, an error will occur when attempting to render the page:

[code]

Here's the code:

[code]

Screenshot of the error:
<img width="1278" alt="Screenshot 2022-08-24 at 3 08 54 PM" src="https://user-images.githubusercontent.com/12683067/186353787-178

[2022-08-24 07:14] josevalim commented on #376
Please send a PR that documents title is required, thank you!

[2022-08-24 13:03] #376 closed

[2022-08-28 17:56] jotaviobiondo opened #378 "RowComponent and ColumnsComponent not working with TableComponent"
### Environment

* Elixir version (elixir -v): 1.13.4
* Phoenix version (mix deps): 1.6.11
* Phoenix LiveView version (mix deps): 0.17.1
* Phoenix Dashboard version (mix deps): 0.6.0
* Operating system: MacOS
* Browsers you attempted to reproduce this bug on (the more the merrier): Firefox

### Actual behavior

When trying to use a `TableComponent` with a `RowComponent` or `ColumnsComponent`, a Ma

[2022-08-28 18:10] #378 closed

[2022-08-28 20:21] jotaviobiondo opened #380 "Way of having info modals for table rows"
Currently some of the default pages, like ETS, Process, etc. have clickable rows that shows a modal with more detailed information. Right now, as far as I can see in the code there's no way of having this for custom pages.

There are plans for having such feature?

I was thinking that the PageBuilder could have a callback for defining some configuration for showing a modal. Maybe having 2 ways of

[2022-08-28 20:35] josevalim commented on #380
The modals that we have on the other pages are generic and meant to be triggered from any other page. If your goal is to support a modal only within a single page, then it should be much easier and I would probably apply some hardcoded logic to that. Something like `?modal=current` and that invokes an event or a callback on the page. :)

[2022-08-28 22:17] jotaviobiondo commented on #380
Hmm, to do that and be able to conditionally render the modal, it would require to create a custom component to be rendered in the `PageBuilder.render_page/1`, right?

If thats so, it should probably work fine :)

[2022-08-29 07:30] josevalim commented on #380
I am not quite sure because I haven't used the dashboard for a while. :) So feel free to give whatever comes to your mind a try :)

[2022-08-29 11:17] jotaviobiondo commented on #380
Hahah got it! Thanks for the help! :)

[2022-09-20 23:08] scottmando2000 opened #383 "Phoenix.LiveDashboard.RequestLogger attempting to parse non UTF-8 urlencoded params"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.14
* Phoenix version (mix deps): 1.6.12
* Phoenix LiveView version (mix deps): 0.17.11
* Phoenix Dashboard version (mix deps): 0.6.5
* Operating system: Ubuntu 22.04 LTS
* Browsers you attempted to reproduce this bug on (the more the merrier):  Firefox, Curl

###

[2022-09-21 09:15] josevalim commented on #383
I don't think you should generally allow invalid UTF-8 into the system. If you want to receive a hash, it is best to Base encode64 before. If you want to go ahead with this anyway, I recommend removing the `:param_key` from the RequestLogger, so it works exclusively based on cookies. :)

[2022-09-21 09:15] #383 closed

[2022-09-21 13:56] scottmando2000 commented on #383
Thanks, José, for your reply.

I just tried your solution, and it did work, but I had some notes about it since it's not the best solution for this problem.

I don't control the parameter data types, these are requests coming directly from BitTorrent clients such as Transmission BT and µTorrent. A more ideal solution would be an option in the request logger to disable utf8 validation for specific

[2022-10-04 22:59] #7 closed

[2022-10-13 15:01] moogle19 opened #388 "Unclear error message for `mix format`"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v): 1.14.1
* Phoenix version (mix deps): none
* Phoenix LiveView version (mix deps): 0.18.0
* Phoenix Dashboard version (mix deps): master
* Operating system: macOS

### Actual behavior

`mix format` fails with: `** (Mix) Unknown dependency :phoenix given to :import_dep

[2022-10-13 15:06] moogle19 commented on #388
Forgot to run `mix deps.get`, but with an explicit dependency the error message (`** (Mix) Unavailable dependency :phoenix given to :import_deps in the formatter configuration. The dependency cannot be found in the file system, please run "mix deps.get" and try again`)  is a bit clearer.

[2022-10-13 15:39] josevalim commented on #388
I will improve the error message on Elixir side, thank you!

[2022-10-13 15:39] #388 closed

[2022-10-15 10:59] madawei2699 opened #389 "Application Processes Dependency Graph"
Like the `:observer` application show the processes dependency graph👇
<img width="1988" alt="image" src="https://user-images.githubusercontent.com/2446612/195982771-64a9ed2a-6a88-4ae4-8a61-0af24f6731ee.png">

[2022-10-15 13:56] josevalim commented on #389
That’s the supervision tree. You can find it today in the application pane and then clicking an application.

[2022-10-15 13:56] #389 closed

[2022-10-15 15:43] madawei2699 commented on #389
Awesome, Thanks! @josevalim

[2022-11-04 14:15] chrismccord commented on #319
We would love someone to take this work on. To brand a dashboard 1.0, we need a few things:

  1. modernize the component system we have with function components
  2. rewrite layouts with tailwind, consider dark mode, and potential multi column as in this proposal

@yordis if you're interesting in taking this on, please let us know. Thanks!

[2022-11-04 16:15] yordis commented on #319
@chrismccord. Do you have some design done, or do you prefer to do incremental updates and eventually get to "happy land"?

[2022-11-26 03:46] yordis opened #391 "Protocol.UndefinedError: protocol Enumerable not implemented for {:EXIT, {{:badmatch, nil} ...}"
### Environment

Make sure you are using the latest LiveView and Dashboard versions before continuing.

* Elixir version (elixir -v):

[code]

* Phoenix version (mix deps):
* Phoenix LiveView version (mix deps):
* Phoenix Dashboard version (mix deps):

[code]

* Operating system: Alpine

### Actual behavior

I got the following Sentry error:

[code]

### Expected behavior

Handle the failure